  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Order Confirmation</h2>
              <p>Home <span>-</span> Order Confirmation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!--================ confirmation part start =================-->
  <section class="confirmation_part padding_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Thank you. Your order has been received.</span>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>order info</h4>
            <ul>
              <li>
                <p>order number</p><span>: <%= @checkout.id.to_s + @checkout.created_at.strftime("%Y%M").to_s %></span>
              </li>
              <li>
                <p>data</p><span>: <%= @checkout.created_at.strftime("%b %d, %Y %I:%M %P") %></span>
              </li>
              <li>
                <p>total</p><span>: R<%= @checkout.amount %></span>
              </li>
              <li>
                <p>mayment methord</p><span>: Check payments</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Billing Address</h4>
            <ul>
              <li>
                <p>Address</p><span>: <%= @checkout.billing_address.address %></span>
              </li>
              <li>
                <p>city</p><span>: Los Angeles</span>
              </li>
              <li>
                <p>Province</p><span>: United States</span>
              </li>
              <li>
                <p>postcode</p><span>: <%= @checkout.billing_address.postal_code %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>shipping Address</h4>
            <ul>
              <li>
                <p>Address</p><span>: <%= @checkout.billing_address.address %></span>
              </li>
              <li>
                <p>city</p><span>: Los Angeles</span>
              </li>
              <li>
                <p>Province</p><span>: United States</span>
              </li>
              <li>
                <p>postcode</p><span>: <%= @checkout.billing_address.postal_code %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Order Details</h3>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <% @cart.each do |cart| %>
                <tr>
                  <th colspan="2"><span><%= cart.product.title %></span></th>
                  <th>x<%= cart.quantity %></th>
                  <th> <span>R<%= cart.sub_total %></span></th>
                </tr>
                <% end %>
                <tr>
                  <th colspan="3">Subtotal</th>
                  <th> <span>R<%= @sum %></span></th>
                </tr>
                <tr>
                  <th colspan="3">shipping</th>
                  <th><span>flat rate: R50.0</span></th>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col" colspan="3">Grand Total</th>
                  <th scope="col">R<%= @sum.to_f + 50.0 %></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ confirmation part end =================-->
