<!-- ========================  Main header ======================== -->

<section class="main-header" style="background-image:url(assets/images/gallery-2.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title">Blogs</h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a class="active" href="<%= blogs_path %>">Blogs</a></li>
      </ol>
    </div>
  </header>
</section>

<!-- ========================  Blog ======================== -->

<section class="blog">
  <div class="container">
    <div class="row">
      <div id="blogs-div">
        <% if !@blogs.nil? %>
          <%= render partial: 'blogs_items', locals: { blogs: @blogs } %>
        <% end %>
      </div>
      <div class="col-md-3">
        <aside>
          <div class="box box-search">
            <%= form_tag blogs_path, method: :get, remote: true do %>
              <%= text_field_tag :q, nil, class: "form-control search-value", autocomplete: false, placeholder: "Search the blog", autofocus: true %>
              <%= submit_tag "Search", class: "btn btn-main btn-sm search-submit"%>
            <% end %>
          </div>
          <div class="box box-posts">
            <h5 class="title">Popular posts</h5>
            <ul>
              <% @popular_blogs.each do |blog| %>
                <li>
                  <%= link_to blog do%>
                    <div class="date">
                      <span><%= blog.updated_at.strftime('%b')%></span>
                      <strong><%= blog.updated_at.strftime('%d')%></strong>
                      <span><%= blog.updated_at.strftime('%Y')%></span>
                    </div>
                    <span class="text"><%= blog.title %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </aside>
      </div>
    </div> <!--/row-->
  </div><!--/container-->
</section>
