
<style type="text/css">
  .current{
         background-color: #fff !important; 
  }
  .current:hover{
        background-color: #fff !important; 
  }
  input, textarea, select{
    -webkit-appearance: auto !important;
  }
  .billing_details .contact_form .form-group textarea {
    height: 70px;
  }
</style>

  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/breadcrumb.png') %>');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Product Checkout</h2>
              <p>Home <span>-</span> Product Checkout</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!--================Checkout Area =================-->
  <section class="checkout_area padding_top">
    <div class="container">
<!--       <div class="returning_customer">
        <div class="check_title">
          <h2>
            Returning Customer?
            <a href="#">Click here to login</a>
          </h2>
        </div>
        <p>
          If you have shopped with us before, please enter your details in the
          boxes below. If you are a new customer, please proceed to the
          Billing & Shipping section.
        </p>
        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
          <div class="col-md-6 form-group p_star">
            <input type="text" class="form-control" id="name" name="name" value=" " />
            <span class="placeholder" data-placeholder="Username or Email"></span>
          </div>
          <div class="col-md-6 form-group p_star">
            <input type="password" class="form-control" id="password" name="password" value="" />
            <span class="placeholder" data-placeholder="Password"></span>
          </div>
          <div class="col-md-12 form-group">
            <button type="submit" value="submit" class="btn_3">
              log in
            </button>
            <div class="creat_account">
              <input type="checkbox" id="f-option" name="selector" />
              <label for="f-option">Remember me</label>
            </div>
            <a class="lost_pass" href="#">Lost your password?</a>
          </div>
        </form>
      </div>
      <div class="cupon_area">
        <div class="check_title">
          <h2>
            Have a coupon?
            <a href="#">Click here to enter your code</a>
          </h2>
        </div>
        <input type="text" placeholder="Enter coupon code" />
        <a class="tp_btn" href="#">Apply Coupon</a>
      </div> -->
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
                <%= form_for BillingAddress.new, remote: true do |f| %>
                <!-- <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                  novalidate="novalidate"> -->
              <div class="row contact_form">
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="first" name="name" placeholder="First name" value="<%= current_user.first_name %>" />
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="last" name="name" placeholder="Last name" value="<%= current_user.last_name %>" />
                </div>
                <!-- <div class="col-md-12 form-group">
                  <input type="text" class="form-control" id="company" name="company" placeholder="Company name" />
                </div> -->
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="number" name="number" placeholder="Phone number" value="<%= current_user.contact_details %>" />
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="email" name="compemailany" placeholder="Email Address" value="<%= current_user.email %>" />
                </div>
                  <div class="col-md-12">
                    <div class="form-group">
                        <%= f.collection_select :province_id, Province.all,:id,:title, include_blank: false, :class => 'form-control' %>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="col-md-12">
                    <div class="form-group">
                        <%= f.collection_select :city_id, City.all,:id,:title, include_blank: false, :class => 'form-control' %>
                    </div>
                  </div>
                  <br>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.text_field(:postal_code, :class => 'form-control', placeholder: "Postal Code", required: true) %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.text_area(:address, size: '40x5', :class => 'form-control', placeholder: "Address", required: true) %>
                      <%= f.hidden_field(:is_primary, value: true) %>
                      <%= f.hidden_field(:user_id, value: current_user.id ) %>
                    </div>
                  </div>
                  <div class="col-md-12 text-right" style="display: none">
                    <button type="submit" value="submit" class="btn_3 billing_address_1_submit">
                      Submit Now
                    </button>
                  </div>
                </div>
                <% end %>

                <div class="col-md-12 form-group">
                  <div class="creat_account">
                    <h3>Shipping Details</h3>

                    <label for="f-option3">Ship to a different address?</label>
                    <br>
                    <input type="checkbox" id="new-shippment">
                  </div>
                  <div id="shippment-address" style="display: none">
                  <%= form_for BillingAddress.new, remote: true do |f| %>
                  <div class="row contact_form">
                  <!-- <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                  novalidate="novalidate"> -->
                 
                  <div class="col-md-12">
                    <div class="form-group">
                        <%= f.collection_select :province_id, Province.all,:id,:title, include_blank: false, :class => 'form-control' %>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="col-md-12">
                    <div class="form-group">
                        <%= f.collection_select :city_id, City.all,:id,:title, include_blank: false, :class => 'form-control' %>
                    </div>
                  </div>
                  <br>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.text_field(:postal_code, :class => 'form-control', placeholder: "Postal Code", required: true) %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= f.text_area(:address, size: '40x5', :class => 'form-control', placeholder: "Address", required: true) %>
                      <%= f.hidden_field(:is_primary, value: false) %>
                      <%= f.hidden_field(:user_id, value: current_user.id ) %>
                    </div>
                  </div>
                  <div class="col-md-12 text-right" style="display: none">
                    <button type="submit" value="submit" class="btn_3 billing_address_2_submit">
                      Submit Now
                    </button>
                  </div>
                <% end %>
                    
                  </div>
                </div>
              </div>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
                <% @cart.each do |cart| %>
                <li>
                  <a href="#"><%= cart.product.title %>
                    <span class="middle">x <%= cart.quantity %></span>
                    <span class="last">R<%= cart.sub_total %></span>
                  </a>
                </li>
                <% end %>
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal
                    <span>R<%= @sum %></span>
                  </a>
                </li>
                <li>
                  <a href="#">Shipping
                    <span>Flat rate: $50.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Total
                    <span>$2210.00</span>
                  </a>
                </li>
              </ul>
<!--               <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="selector" />
                  <label for="f-option5">Check payments</label>
                  <div class="check"></div>
                </div>
                <p>
                  Please send a check to Store Name, Store Street, Store Town,
                  Store State / County, Store Postcode.
                </p>
              </div> -->
              <div class="payment_item active">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="selector" />
                  <label for="f-option6">Payfast </label>
                  <%=image_tag("img/product/single-product/card.jpg")%>
                  <div class="check"></div>
                </div>
                <p>
                  Please send a check to Store Name, Store Street, Store Town,
                  Store State / County, Store Postcode.
                </p>
              </div>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>
              <a class="btn_3 proceed_to_checkout" href="/confirmation">Proceed to Payfast</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->

    <div class="row contact_form" style="display: none">
      <%= form_for new_checkout_path, remote: true do |f| %>
        <div class="col-md-12">
          <div class="form-group">
            <%= f.hidden_field(:billing_address_id, value: current_user.billing_addresses.present? ? current_user.billing_addresses.last.id : nil) %>
            <%= f.hidden_field(:user_cart_id, value: current_user.user_cart.present? ? current_user.user_cart.id : nil ) %>
            <%= f.hidden_field(:user_id, value: current_user.id ) %>
            <%= f.hidden_field(:amount, value: @sum ) %>
          </div>
        </div>
        <div class="col-md-12 text-right">
          <button type="submit" value="submit" class="btn_3 checkout_submit">
            Submit Now
          </button>
        <% end %>
      </div>

      <script type="text/javascript">
        
        $('#new-shippment').on('click', function(e){
          if(document.getElementById('new-shippment').checked) {
                $("#shippment-address").css("display", "block");
            } else {
                $("#shippment-address").css("display", "none");
            }
        });

        $('#new-shippment').on('click', function(e){
          if(document.getElementById('new-shippment').checked) {
                $("#shippment-address").css("display", "block");
            } else {
                $("#shippment-address").css("display", "none");
            }
        });

        $('.proceed_to_checkout').on('click', function(e){debugger
          if(document.getElementById('new-shippment').checked) {
            $(".billing_address_2_submit").click();
            $(".checkout_submit").click();
          }
          else{
            $(".billing_address_1_submit").click();
            $(".checkout_submit").click();
          }

        });

      </script>


