<div class="row">
  <div class="col-lg-9 mt-3 offset-2">
    <div class="card">
      <div class="card-header">
        <strong>Profile</strong>
      </div>
      <div class="card-body">
        <h2 align="center">Profile: </h2>
        <div class="well col-xs-8 col-xs-offset-2">
          <div class="Center">
            <% if @profile.image.attached? %>
              <%= image_tag(url_for(@profile.image.variant(resize: '200x200'))) %><br>
            <% end %>
          </div>
          <h4>Name: </h4><br>
          <p><%= @profile.user_full_name %></p>
          <h4>Category: </h4><br>
          <p><%= @profile.user_category_title %></p><br>
          <h4>Contact: </h4><br>
          <p><%= @profile.phone%></p><br>
          <h4>Address: </h4><br>
          <p><%= @profile.address%></p><br>
<!--          <h4>Date of Birth: </h4><br>-->
<!--          <p><%#= date_of_birth @profile %></p><br>-->
<!--          <h4>Gender: </h4><br>-->
<!--          <p><%#= @profile.gender %></p><br>-->
          <h4>Descrption: </h4><br>
          <p><%= @profile.description %></p><br>
          <h4>Facebook: </h4><br>
          <p><%= @profile.facebook %></p><br>
          <h4>Instagram: </h4><br>
          <p><%= @profile.instagram %></p><br>
          <h4>Twitter: </h4><br>
          <p><%= @profile.twitter %></p><br>
          <div class="article-actions">
            <%= link_to "Edit",  edit_admin_profile_path(@profile), class: "btn btn-xs btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
