
<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>


<style>

</style>

<section class="main-header" style="background-image:url(assets/images/gallery-2.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title">Jobs</h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a class="active" >All jobs</a></li>
      </ol>
    </div>
  </header>
</section>

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <table id="table_id" class="table table-bordered table-striped display nowrap dataTable dtr-inline collapsed">
            <thead>
            <tr>
              <th>Sr#</th>
              <th>Company</th>
              <th>Position</th>
              <th>Description</th>
              <th>Location</th>
              <th>Country</th>
              <th>Salary</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @jobs.each_with_index  do |job, index| %>
              <tr>
                <td><%= index  + 1%></td>
                <td><%= job.company %></td>
                <td><%= job.title %></td>
                <td><%= truncate(job.description, length: 15) %></td>
                <td><%= truncate(job.address, length: 15) %></td>
                <td><%= truncate(job.country, length: 15) %></td>
                <td><%= job.salary %></td>
                <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#<%= job.id %>">Apply</button></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <% @jobs.each  do |job| %>
          <div class="modal fade custom-job-modal" id="<%= job.id %>" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Apply for job</h4>
                </div>
                <div class="modal-body">
                  <div class="">
                    <div class="row">
                      <div class="flex-l custom-company-detail-modal">
                        <div class="custom-company-logo">
                          <% if job.image.attached? %>
                            <%= image_tag(url_for(job.image)) %>
                          <% end %>
                        </div>
                        <div class="custom-company-info">
                          <h4> <%= job.company %></h4>
                          <hr class="custom-divider">
                          <p><%= job.user.profile.address %></p>
                          <p><%= job.user.profile.phone %></p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="custom-company-details">
                          <hr>
                          <h5>Position:<span><%= job.position %></span> </h5>
                          <hr>
                          <h5>Salary:<span><%= job.salary %></span> </h5>
                          <hr>
                          <h5>Description:</h5>
                          <p><%= job.description %></p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <%= form_tag  job_email_send_job_mails_path, method: :post, multipart: true  do %>
                        <div class="form-group">
                          <%= hidden_field_tag :to_email, job.user.email  %>
                          <%= text_field_tag :name, nil, class: "form-control ", autocomplete: false, placeholder: "Full Name", autofocus: true, :required => true %>
                          <%= text_field_tag :from_email, nil, class: "form-control", autocomplete: false, placeholder: "Email", autofocus: true, :required => true %>
                          <%= file_field_tag :attachment , :required => true%>
                          <%= submit_tag "Apply", class: "custom-modal-email-btn btn btn-primary btn-md custom-slider-btn"%>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div> <!--/row-->
  </div><!--/container-->
</section>
<!-- ================== Footer  ================== -->

<footer>
  <div class="container">

    <!--footer showroom-->
    <div class="footer-showroom">
      <div class="row">
        <div class="col-sm-8">
          <h2>Visit our showroom</h2>
          <p>200 12th Ave, New York, NY 10001, USA</p>
          <p>Mon - Sat: 10 am - 6 pm &nbsp; &nbsp; | &nbsp; &nbsp; Sun: 12pm - 2 pm</p>
        </div>
        <div class="col-sm-4 text-center">
          <a href="#" class="btn btn-clean"><span class="icon icon-map-marker"></span> Get directions</a>
          <div class="call-us h4"><span class="icon icon-phone-handset"></span> 333.278.06622</div>
        </div>
      </div>
    </div>
    <!--footer links-->
    <div class="footer-links">
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <h5>Browse by</h5>
          <ul>
            <li><a href="#">Brand</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Category</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Recources</h5>
          <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Sales</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Our company</h5>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <h5>Sign up for our newsletter</h5>
          <p><i>Add your email address to sign up for our monthly emails and to receive promotional offers.</i></p>
          <div class="form-group form-newsletter">
            <input class="form-control" type="text" name="email" value="" placeholder="Email address" />
            <input type="submit" class="btn btn-clean btn-sm" value="Subscribe" />
          </div>
        </div>
      </div>
    </div>
    <!--footer social-->
    <div class="footer-social">
      <div class="row">
        <div class="col-sm-6">
          <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank"><i class="fa fa-download"></i> Download Mobel</a> &nbsp; | <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a>
        </div>
        <div class="col-sm-6 links">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>