<footer>
  <div class="container">
    <!--footer links-->
    <div class="footer-links">
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <h5>Tags</h5>
          <ul>
            <% @categories.each_with_index  do |category, index| %>
              <li> <a href="<%= vendors_path(category_id: category.id) %>"><%= category.title %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Recources</h5>
          <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Sales</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Our company</h5>
          <ul>
            <li><a href="<%= about_index_path %>">About</a></li>
            <li><a href="<%= jobs_path%>">Jobs</a></li>
            <li><a href="<%= contact_us_path %>">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-6 links">
          <div class="pull-right">
          <h5>Share</h5>
          <div class="footer-social custom-footer-social-links">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
<!--              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
            <span>
              <h5>For Company Account</h5>
              <a href="<%= new_user_session_path %>">Login &nbsp; &nbsp;</a>
              <a href="<%= new_user_registration_path %>">Registration</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-copyrightss"><a>Copyright © <%= Time.current.year %> All Rights Reserved Furnishia</a></div>