
<nav class="navbar-fixed">

  <div class="container">

    <!-- ==========  Top navigation ========== -->
<div class="row">
  <div class="col-md-12">
      <div class="navigation navigation-top clearfix">

       <!--  -->




<!-- <a href="<%= root_path %>" class="logo" >

       
      </a> -->
<!-- </div> -->
        
      <ul >
         
       <li style="float: left">
         
         <div class="logo-div" style="display: inline;margin-left:10px;padding-left:20px;float:left; width:50px;height:35px;"> <%= image_tag "furnishia/logo_icon.jpeg",style: 'height:35px;width:100%;' %>
</div>




       </li>
        <!--add active class for current page-->
        <!--Language selector-->

        <!--        <li><a href="javascript:void(0);" class="open-search"><i class="icon icon-magnifier"></i></a></li>-->
<!--    </div>-->
<!--    <span>-->
<!--              <h5>For Company Account</h5>-->
<!--              <a href="<%#= new_user_session_path %>">Login &nbsp; &nbsp;</a>-->
<!--              <a href="<%#= new_user_registration_path %>">Registration</a>-->
<!--            </span>-->
<!--  </div>-->
        <li style="color: white">Company &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp;</li>
        <li> <a href="<%= new_user_session_path %>">Sign In</a></li>
        <li> <a href="<%= new_user_registration_path %>">Sign Up</a></li>
<!--        <li><a href="javascript:void(0);" onclick="signin_signup_function()" id="1" class="open-login">Login</a></li>-->
<!--        <li><a href="javascript:void(0);" onclick="signin_signup_function()" id="2" class="open-login">Register</a></li>-->

      </ul>
    </div> <!--/navigation-top-->
  </div>
  
</div>
  

    <!-- ==========  Main navigation ========== -->
<div class="row">
  <div class="col-md-12">
       <div class="navigation navigation-main">

      <!-- Setup your logo here-->

      <a href="<%= root_path %>" class="logo">

        <%= image_tag "" %>
      </a>

      <!-- Mobile toggle menu -->

      <a href="javascript:void(0)" class="open-menu"><i class="icon icon-menu"></i></a>

      <!-- Convertible menu (mobile/desktop)-->

      <div class="floating-menu">

        <!-- Mobile toggle menu trigger-->

        <div class="close-menu-wrapper">
          <span class="close-menu"><i class="icon icon-cross"></i></span>
        </div>

        <ul>
          <li><a href="<%= root_path %>">Home</a></li>
          <li>
            <a>Categories <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
            <div class="navbar-dropdown navbar-dropdown-single">
              <div class="navbar-box">
                <!-- box-2 (without 'box-1', box-2 will be displayed as full width)-->
                <div class="box-1">
                  <div class="box clearfix">
                    <ul class="custom-product-category-list">
                      <% @product_categories.each do |category| %>
                        <li><a href="<%= product_category_index_path(product_category_id: category.id) %>"><%= category.title %></a></li>
                      <% end %>
                    </ul>
                  </div> <!--/box-->
                </div> <!--/box-2-->
              </div> <!--/navbar-box-->
            </div> <!--/navbar-dropdown-->
          </li>
          <!--          <li><a href="<%#= what_new_index_path %>">What's New</a></li>-->
          <!-- Simple menu link-->
          <li><a href="<%= about_index_path %>">About</a></li>
          <li><a href="<%= contact_us_path %>">Contact Us</a></li>
          <li><a href="<%= jobs_path%>">Jobs</a></li>
        </ul>
      </div> <!--/floating-menu-->
    </div> <!--/navigation-main-->
  </div>
</div>
 

    <!-- ==========  Login wrapper ========== -->

    <div class="login-wrapper"  >
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
          <i class="fa fa-lock"></i> Logout
        <% end %>

      <% else %>
        <div id="signIn" style="display: none">
          <div class="h4">Sign in</div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.input :email,required: false,autofocus: true,input_html: { autocomplete: "email", placeholder: "Email", class: "form-control" } %>
            </div>
            <div class="form-group">
              <%= f.input :password, required: false, input_html: { autocomplete: "current-password", class: "form-control", id:"exampleInputPassword1", placeholder: "Password" } %>
            </div>
            <div class="form-group">
              <%= link_to "Forgot your password?", new_user_password_path(resource), :class => "btn btn-link px-0 custom-forgot-text"%>
            </div>
            <%= f.button :submit, "Log in", class: 'btn btn-block btn-main' %>
          <% end %>
        </div>
        <div id="signUp" style="display: none">
          <div class="h4">Sign Up</div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.hidden_field :role, value: '2gasda4A7d2gaa@' %>
            <div class="form-group">
              <%= f.text_field :first_name,  class: "form-control", placeholder: "First Name", autofocus: true,  :required => true %>
            </div>
            <div class="form-group">
              <%= f.text_field :last_name,  class: "form-control", placeholder: "Last Name", autofocus: true,  :required => true %>
            </div>
            <div class="form-group">
              <%= f.email_field :email,  class: "form-control", placeholder: "Email", autofocus: true, :required => true %>
            </div>
            <div class="form-group">
              <%= f.password_field :password,  class: "form-control", placeholder: "Password", autofocus: true,  :required => true %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation,  class: "form-control", placeholder: "Confirm Password", autofocus: true, :required => true %>
            </div>
            <%= f.submit "Sign Up", class: "btn btn-block btn-main" %>
            <!--          <button type="submit" class="btn btn-block btn-main">Sign Up</button>-->
          <% end %>
        </div>
      <%end %>
    </div>
    <script>
        function signin_signup_function() {
            var x = document.getElementById("signIn");
            var y = document.getElementById("signUp");
            $(".open-login").click(function() {
                if(this.id == "1"){
                    y.style.display = "none";
                    if(x.style.display === "none"){
                        x.style.display = "block";
                    }
                    else{
                        x.style.display = "none";
                    }
                }
                else{
                    x.style.display = "none";
                    if(y.style.display === "none"){
                        y.style.display = "block";
                    }
                    else{
                        y.style.display = "none";
                    }
                }
            });
        }
    </script>




    <!-- ==========  Cart wrapper ========== -->

    <div class="cart-wrapper">
      <div class="checkout">
        <div class="clearfix">

          <!--cart item-->

          <div class="row">

            <div class="cart-block cart-block-item clearfix">
              <div class="image">
                <a href="product.html">
                  <%= image_tag "furnishia/product-1.png" %>
                </a>
              </div>
              <div class="title">
                <div><a href="product.html">Green corner</a></div>
                <small>Green corner</small>
              </div>
              <div class="quantity">
                <input type="number" value="2" class="form-control form-quantity" />
              </div>
              <div class="price">
                <span class="final">$ 1.998</span>
                <span class="discount">$ 2.666</span>
              </div>
              <!--delete-this-item-->
              <span class="icon icon-cross icon-delete"></span>
            </div>

            <!--cart item-->

            <div class="cart-block cart-block-item clearfix">
              <div class="image">
                <a href="product.html">
                  <%= image_tag "furnishia/product-2.png" %>
                </a>
              </div>
              <div class="title">
                <div><a href="product.html">Green corner</a></div>
                <small>Green corner</small>
              </div>
              <div class="quantity">
                <input type="number" value="2" class="form-control form-quantity" />
              </div>
              <div class="price">
                <span class="final">$ 1.998</span>
                <span class="discount">$ 2.666</span>
              </div>
              <!--delete-this-item-->
              <span class="icon icon-cross icon-delete"></span>
            </div>

            <!--cart item-->

            <div class="cart-block cart-block-item clearfix">
              <div class="image">
                <a href="product.html">
                  <%= image_tag "furnishia/product-3.png" %></a>
              </div>
              <div class="title">
                <div><a href="product.html">Green corner</a></div>
                <small>Green corner</small>
              </div>
              <div class="quantity">
                <input type="number" value="2" class="form-control form-quantity" />
              </div>
              <div class="price">
                <span class="final">$ 1.998</span>
                <span class="discount">$ 2.666</span>
              </div>
              <!--delete-this-item-->
              <span class="icon icon-cross icon-delete"></span>
            </div>

            <!--cart item-->

            <div class="cart-block cart-block-item clearfix">
              <div class="image">
                <a href="product.html">
                  <%= image_tag "furnishia/product-4.png" %>
                </a>
              </div>
              <div class="title">
                <div><a href="product.html">Green corner</a></div>
                <small>Green corner</small>
              </div>
              <div class="quantity">
                <input type="number" value="2" class="form-control form-quantity" />
              </div>
              <div class="price">
                <span class="final">$ 1.998</span>
                <span class="discount">$ 2.666</span>
              </div>
              <!--delete-this-item-->
              <span class="icon icon-cross icon-delete"></span>
            </div>
          </div>

          <hr />

          <!--cart prices -->

          <div class="clearfix">
            <div class="cart-block cart-block-footer clearfix">
              <div>
                <strong>Discount 15%</strong>
              </div>
              <div>
                <span>$ 159,00</span>
              </div>
            </div>

            <div class="cart-block cart-block-footer clearfix">
              <div>
                <strong>Shipping</strong>
              </div>
              <div>
                <span>$ 30,00</span>
              </div>
            </div>

            <div class="cart-block cart-block-footer clearfix">
              <div>
                <strong>VAT</strong>
              </div>
              <div>
                <span>$ 59,00</span>
              </div>
            </div>
          </div>

          <hr />

          <!--cart final price -->

          <div class="clearfix">
            <div class="cart-block cart-block-footer clearfix">
              <div>
                <strong>Total</strong>
              </div>
              <div>
                <div class="h4 title">$ 1259,00</div>
              </div>
            </div>
          </div>


          <!--cart navigation -->

          <div class="cart-block-buttons clearfix">
            <div class="row">
              <div class="col-xs-6">
                <a href="products-grid.html" class="btn btn-clean-dark">Continue shopping</a>
              </div>
              <div class="col-xs-6 text-right">
                <a href="checkout-1.html" class="btn btn-main"><span class="icon icon-cart"></span> Checkout</a>
              </div>
            </div>
          </div>

        </div>
      </div> <!--/checkout-->
    </div> <!--/cart-wrapper-->
  </div> <!--/container-->
</nav>
