

<% products.each_with_index do |product, index| %>
  <% if index % 3 == 0 %>
    <% if index != 0 %>
      </div>
    <% end %>
    <div class="row">
      <!-- === product-item === -->
      <div class="col-md-4 col-xs-4 item price-discount category-sofa material-leather">
        <article>
          <div class="figure-grid">
            <div class="image">
              <% if product.images.attached? %>
                <%= link_to product do%>
                  <%= image_tag(url_for(product.images.first)) %><br>
                <% end %>
              <% else %>
                <%= link_to product do%>
                  <img src="/assets/furnishia/product-1.png" alt="" width="360" />
                <% end %>
              <% end %>
            </div>
            <div class="text">
              <%= link_to product do%>
                <h2 class="title h4"><%= product.title %></h2>
              <% end %>
              $ <span class="price"><%= product.price %></span>
              <span class="description clearfix">product.description</span>
            </div>
          </div>
        </article>
      </div>
  <% else %>
    <!-- === product-item === -->
    <div class="col-md-4 col-xs-4 item price-discount category-sofa material-leather">
      <article>
          <div class="figure-grid">

          <div class="image">
            <% if product.images.attached? %>
              <%= link_to product do%>
                <%= image_tag(url_for(product.images.first)) %><br>
              <% end %>
            <% else %>
              <%= link_to product do%>
                <img src="/assets/furnishia/product-1.png" alt="" width="360" />
              <% end %>
            <% end %>
          </div>
          <div class="text">
            <%= link_to product do%>
              <h2 class="title h4"><%= product.title %></h2>
            <% end %>

           $ <span class="price"><%= product.price %></span>
            <span class="description clearfix">product.description</span>
          </div>
        </div>
      </article>
    </div>

  <% end %>
<% end %>