
<!--Use class "navbar-fixed" or "navbar-default" -->
<!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

<!-- ======================== Navigation ======================== -->

<!-- ==========  Search wrapper ========== -->
<!-- ==================  Header content ======================== -->

    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider owl-carousel">
                      <% Product.where(product_type_id: 1).each do |product| %>
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1><%= product.title %></h1>
                                            <p><%= product.description %></p>
                                            <%= link_to add_to_cart_product_path(product.id), class: "btn_2", method: :post do %>
                                              buy now
                                            <% end %>
                                            <a href="#" class="btn_2 btn_custom_1">Lay-bye</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                  <img src="<%=url_for(product.images.first) %>">
                                </div>
                            </div>
                        </div>
                        <% end %>
                        <!-- <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Cloth $ Wood Sofa</h1>
                                            <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                                suspendisse ultrices gravida. Risus commodo viverra</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="slider-counter"></div>
                </div>
            </div>
        </div>
    </section>

   

    <!-- feature_part start-->
    <section class="feature_part padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>Category</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
              <% @first_category = Category.where(category_type: "Feature").first if Category.where(category_type: "Feature").present? %>
              <% if @first_category.present? %>
                <div class="col-lg-7 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3><%= @first_category.title %></h3>
                        <a href="/product_category?type=<%= @first_category.title.gsub(" ", "_") %>" class="feature_btn">EXPLORE NOW <i class="fa fa-play"></i></a>
                        <% if @first_category.image.present? %>
                          <img src="<%=url_for(@first_category.image) %>" style= 'height: 75%;'>
                        <% end %>
                          <%#=image_tag("img/feature/feature_1.png")%>
                    </div>
                </div>
                <% end %>
              <% @second_category = Category.where(category_type: "Feature").second if Category.where(category_type: "Feature").present? && Category.where(category_type: "Feature").second %>
              <% if @second_category.present? %>
                <div class="col-lg-5 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3><%= @second_category.title %></h3>
                        <a href="/product_category?type=<%= @second_category.title.gsub(" ", "_") %>" class="feature_btn">EXPLORE NOW <i class="fa fa-play"></i></a>
                        <% if @second_category.image.present? %>
                          <img src="<%=url_for(@second_category.image) %>" style= 'height: 75%;'>
                        <% end %>
                    </div>
                </div>
                <% end %>
              <% @third_category = Category.where(category_type: "Feature").third if Category.where(category_type: "Feature").present? && Category.where(category_type: "Feature").third %>
              <% if @third_category.present? %>
                <div class="col-lg-5 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3><%= @third_category.title %></h3>
                        <a href="/product_category?type=<%= @third_category.title.gsub(" ", "_") %>" class="feature_btn">EXPLORE NOW <i class="fa fa-play"></i></a>
                        <% if @third_category.image.present? %>
                          <img src="<%=url_for(@third_category.image) %>" style= 'height: 75%;'>
                        <% end %>
                    </div>
                </div>
                <% end %>
              <% @fourth_category = Category.where(category_type: "Feature").fourth if Category.where(category_type: "Feature").present? && Category.where(category_type: "Feature").fourth %>
              <% if @fourth_category.present? %>
                <div class="col-lg-7 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3><%= @fourth_category.title %></h3>
                        <a href="/product_category?type=<%= @fourth_category.title.gsub(" ", "_") %>" class="feature_btn">EXPLORE NOW <i class="fa fa-play"></i></a>
                        <% if @fourth_category.image.present? %>
                          <img src="<%=url_for(@fourth_category.image) %>" style= 'height: 85%;'>
                        <% end %>
                    </div>
                </div>
                <% end %>
              <% @fifth_category = Category.where(category_type: "Feature").fifth if Category.where(category_type: "Feature").present? && Category.where(category_type: "Feature").fifth %>
              <% if @fifth_category.present? %>
                <div class="col-lg-7 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3><%= @fifth_category.title %></h3>
                        <a href="/product_category?type=<%= @fifth_category.title.gsub(" ", "_") %>" class="feature_btn">EXPLORE NOW <i class="fa fa-play"></i></a>
                        <% if @fifth_category.image.present? %>
                          <img src="<%=url_for(@fifth_category.image) %>" style= 'height: 75%;'>
                        <% end %>
                    </div>
                </div>
                <% end %>
              <% @last_category = Category.where(category_type: "Feature").last if Category.where(category_type: "Feature").present? && Category.where(category_type: "Feature").last %>
              <% if @last_category.present? %>
                <div class="col-lg-5 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3><%= @last_category.title %></h3>
                        <a href="/product_category?type=<%= @last_category.title.gsub(" ", "_") %>" class="feature_btn">EXPLORE NOW <i class="fa fa-play"></i></a>
                        <% if @last_category.image.present? %>
                          <img src="<%=url_for(@last_category.image) %>" style= 'height: 65%;'>
                        <% end %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </section>
    <!-- upcoming_event part start-->

    <!-- Awesome_shop start-->
    <section class="our_offer section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6">
                    <div class="offer_img">
                        <%=image_tag("img/offer_img.png")%>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="offer_text">
                        <h2>Weekly Sale on
                            60% Off All Products</h2>
                        <div class="date_countdown">
                            <div id="timer">
                                <div id="days" class="date"></div>
                                <div id="hours" class="date"></div>
                                <div id="minutes" class="date"></div>
                                <div id="seconds" class="date"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter email address"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a href="#" class="input-group-text btn_2" id="basic-addon2">book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- awesome_shop part start-->

    <!-- product_list part start-->
    <section class="product_list best_seller section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Top Products</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                      <% @best_seller_products.each do |product| %>
                        <div class="single_product_item">
                          <%= link_to "/products/#{product.id}" do %>
                            <img src="<%=url_for(product.images.first) %>">
                          <% end %>
                            <div class="single_product_text">
                              <%= link_to "/products/#{product.id}" do %>
                                <h4><%= product.title %></h4>
                              <% end %>
                                <h3>R<%= product.price %></h3>
                                <%= link_to add_to_cart_product_path(product.id), class: "add_cart", method: :post do %>
                                  + add to cart
                                  <!-- <i class="fa fa-heart-o"></i> -->
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part end-->

    <!-- subscribe_area part start-->
    <section class="subscribe_area section_padding" style="background-image:url('<%= asset_path('/assets/img/subscribe_area.png') %>');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="subscribe_area_text text-center">
                        <h5>Join Our Newsletter</h5>
                        <h2>Subscribe to get Updated
                            with new offers</h2>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter email address"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a href="#" class="input-group-text btn_2" id="basic-addon2">subscribe now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::subscribe_area part end::-->

    <!-- subscribe_area part start-->
    <section class="client_logo padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="single_client_logo">
                        <%=image_tag("img/client_logo/client_logo_1.png")%>
                    </div>
                    <div class="single_client_logo">
                        <%=image_tag("img/client_logo/client_logo_2.png")%>
                    </div>
                    <div class="single_client_logo">
                        <%=image_tag("img/client_logo/client_logo_3.png")%>
                    </div>
                    <div class="single_client_logo">
                        <%=image_tag("img/client_logo/client_logo_4.png")%>
                    </div>
                    <div class="single_client_logo">
                        <%=image_tag("img/client_logo/client_logo_5.png")%>
                    </div>
                    <div class="single_client_logo">
                        <%=image_tag("img/client_logo/client_logo_3.png")%>
                    </div>
                    <div class="single_client_logo">
                        <%=image_tag("img/client_logo/client_logo_1.png")%>
                    </div>
                    <div class="single_client_logo">
                        <%=image_tag("img/client_logo/client_logo_2.png")%>
                    </div>
                    <div class="single_client_logo">
                        <%=image_tag("img/client_logo/client_logo_3.png")%>
                    </div>
                    <div class="single_client_logo">
                        <%=image_tag("img/client_logo/client_logo_4.png")%>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    window.onload = function() {
        document.getElementById('load-header').scrollIntoView();
    };

    $(document).ready(function(){
          //single banner slider
  $('.banner_slider').on('initialized.owl.carousel changed.owl.carousel', function (e) {
    function pad2(number) {
      return (number < 10 ? '0' : '') + number
    }
    var carousel = e.relatedTarget;
    $('.slider-counter').text(pad2(carousel.current()));

      }).owlCarousel({
        items: 1,
        loop: true,
        dots: false,
        autoplay: true,
        autoplayHoverPause: true,
        autoplayTimeout: 5000,
        nav: true,
        navText: ["next", "previous"],
        smartSpeed: 1000,
        responsive: {
          0: {
            nav: false
          },
          600: {
            nav: false
          },
          768: {
            nav: true
          }
        }
      });
  
    });

  var best_product_slider = $('.best_product_slider');
  if (best_product_slider.length) {
    best_product_slider.owlCarousel({
      items: 4,
      loop: true,
      dots: false,
      autoplay: true,
      autoplayHoverPause: true,
      autoplayTimeout: 5000,
      nav: true,
      navText: ["next", "previous"],
      responsive: {
        0: {
          margin: 15,
          items: 1,
          nav: false
        },
        576: {
          margin: 15,
          items: 2,
          nav: false
        },
        768: {
          margin: 30,
          items: 3,
          nav: true
        },
        991: {
          margin: 30,
          items: 4,
          nav: true
        }
      }
    });
  }

  //product list slider
  var product_list_slider = $('.product_list_slider');
  if (product_list_slider.length) {
    product_list_slider.owlCarousel({
      items: 1,
      loop: true,
      dots: false,
      autoplay: true,
      autoplayHoverPause: true,
      autoplayTimeout: 5000,
      nav: true,
      navText: ["next", "previous"],
      smartSpeed: 1000,
      responsive: {
        0: {
          margin: 15,
          nav: false,
          items: 1
        },
        600: {
          margin: 15,
          items: 1,
          nav: false
        },
        768: {
          margin: 30,
          nav: true,
          items: 1
        }
      }
    });
  }

  

</script>