
<!--Use class "navbar-fixed" or "navbar-default" -->
<!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

<!-- ======================== Navigation ======================== -->

<!-- ==========  Search wrapper ========== -->
<!-- ==================  Header content ======================== -->

<section class="header-content">
  <div class="owl-slider">

    <div class="item" style="background-image:url('<%= asset_path('furnishia/0.jpeg') %>');">
      <div id="color-overlay"></div>
      <div class="box mt-30">
        <div class="container">
          <div class="col-md-5">
            <h4 class="title">Your Creative World</h4>
            <div class="animated" data-animation="fadeInUp">
              <p> Find trusted locals, now.</p>
            </div>
            <br>
            <div class="animated" data-animation="fadeInUp">
              <%= form_tag search_home_index_path  do %>
                <div class="form-group">
                  <%= text_field_tag :q, nil, class: "form-control custom-slider-input", autocomplete: false, placeholder: "Find:   Products, Bath and Sanitary , Furniture, Kitchen, Tiles, Interior design", autofocus: true %>

                  <%= text_field_tag :location, nil, class: "form-control custom-slider-input", autocomplete: false, placeholder: "Location", autofocus: true %>

                  <%= submit_tag "Search", class: "btn btn-primary btn-md custom-slider-btn"%>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-6">
            <p class="custom-tiles-heading">The most popular categories picked by customers around the world:</p>
            <div class="custom-home-tiles">
              <div class="row">
                <% @categories.each_with_index  do |category, index| %>
                  <% if index == 9 %>
                    <% break %>
                  <% end %>
                  <% if index % 3 == 0 %>
                    <div class="col-md-2">
                    </div>
                  <% end %>
                  <div class="col-md-3 custom-padding-homepage">
                    <a href="<%= vendors_path(category_id: category.id) %>" class="btn btn-outlined btn-default"><%= category.title %></a>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ========================  Header content ======================== -->

<!--<section class="header-content">-->

<!--  <div class="owl-slider">-->


<!--    <div class="item" style="background-image:url('<%#= asset_path('furnishia/Room 1.jpeg') %>')">-->
<!--      <div class="box">-->
<!--        <div class="container">-->
<!--          <h2 class="title animated h1" data-animation="fadeInDown">Modern furniture theme</h2>-->
<!--          <div class="animated" data-animation="fadeInUp">-->
<!--            Modern & powerfull template. <br /> Clean design & reponsive-->
<!--            layout. Google fonts integration-->
<!--          </div>-->
<!--          <div class="animated" data-animation="fadeInUp">-->
<!--            <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-main" ><i class="icon icon-cart"></i> Buy this template</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="item" style="background-image:url('<%#= asset_path('furnishia/Room 2.jpeg') %>')">-->
<!--      <div class="box">-->
<!--        <div class="container">-->
<!--          <h2 class="title animated h1" data-animation="fadeInDown">Mobile ready!</h2>-->
<!--          <div class="animated" data-animation="fadeInUp">Unlimited Choices. Unbeatable Prices. Free Shipping.</div>-->
<!--          <div class="animated" data-animation="fadeInUp">Furniture category icon fonts!</div>-->
<!--          <div class="animated" data-animation="fadeInUp">-->
<!--            <a href="category.html" class="btn btn-clean">Get insipred</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="item" style="background-image:url('<%#= asset_path('furnishia/Room 4.jpeg') %>')">-->
<!--      <div class="box">-->
<!--        <div class="container">-->
<!--          <h2 class="title animated h1" data-animation="fadeInDown">-->
<!--            Very Animate.css Friend.-->
<!--          </h2>-->
<!--          <div class="desc animated" data-animation="fadeInUp">-->
<!--            Combine with animate.css. Or just use your own!.-->
<!--          </div>-->
<!--          <div class="desc animated" data-animation="fadeInUp">-->
<!--            Bunch of typography effects.-->
<!--          </div>-->
<!--          <div class="animated" data-animation="fadeInUp">-->
<!--            <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-clean">Buy this template</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--</section>-->




<!-- ========================  Stretcher widget ======================== -->
<br>
<section class="stretcher-wrapper">
  <!-- === stretcher header === -->
  <header>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 text-center">
        <h2 class="title">Most Searched Cities</h2>
        <div class="text custom-divider">
          <p>Check out our popular cities</p>
          <hr>
        </div>
      </div>
    </div>
  </header>
  <ul class="stretcher">
    <!-- === stretcher item === -->
    <% @cities.each_with_index do |city,index| %>
      <% if index == 4 %>
        <% break %>
      <% end %>
      <li class="stretcher-item" style="background-image:url(' <%= (url_for(city.image)) %>')">
        <!--logo-item-->
        <div class="stretcher-logo">
          <div class="text">
            <div class="custom-heading">
              <span class="text-intro"><%= city.title %></span>
            </div>
          </div>
        </div>
        <!--main text-->
        <figure>
          <h4><%= city.title %></h4>
          <figcaption></figcaption>
        </figure>
        <!--anchor-->
        <a href="<%= city_path(city) %>">Anchor link</a>
      </li>
    <% end %>
    <!-- === stretcher item more=== -->
    <li class="stretcher-item more">
      <div class="more-icon">
        <span data-title-show="Show more" data-title-hide="+"></span>
      </div>
      <a href="<%= cities_path %>"></a>
    </li>
  </ul>
</section>


<!-- ========================  Products widget ======================== -->
<section class="products custom-product-homepage">
  <div class="container">
    <!-- === header title === -->
    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h2 class="title">Most Viewed products</h2>
          <div class="text custom-divider">
            <p>Check out our latest collections</p>
            <hr>
          </div>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="responsivee">
        <% @popular_products.each_with_index do |product, index| %>
          <% if product.visibility == true && product.user.active == true %>
            <% if index == 50 %>
              <% break %>
            <% end %>
            <article>
              <div class="figure-grid custom-card-container text-center">
                <div class="image custom-figure-grid">
                  <% if product.images.attached? %>
                    <%= link_to product do%>
                      <%= image_tag(url_for(product.images.first)) %><br>
                    <% end %>
                  <% else %>
                    <%= link_to product do%>
                      <img src="/assets/furnishia/no_image_product.jpg" alt=""  />
                    <% end %>
                  <% end %>
                </div>
                <div class="text">
                  <%= link_to product do%>
                    <h2 class="title h4"><%=product.title %></h2>
                    <hr class="card-text-divider">
                    <span> <%= product.user.category.title %></span>
                  <% end %>
                </div>
                <a href="<%= product_path(product) %>" class="btn card-btn btn-main">View</a>
              </div>
            </article>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- === button more === -->
    <div class="wrapper-more">
      <a href="<%= popular_list_products_path %>" class="btn btn-main">View More Products</a>
      <hr class="home-page">
    </div>
  </div> <!--/container-->
</section>


<!-- ========================  Popular Vendors ======================== -->
<section class="products">
  <div class="container">
    <!-- === header title === -->
    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h2 class="title">Most Viewed Companies</h2>
          <div class="text custom-divider">
            <p>Check out our popular vendors</p>
            <hr>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="responsivee">
        <% @popular_vendors.each_with_index do |vendor, index| %>
          <% if vendor.active == true %>
            <% if index == 50 %>
              <% break %>
            <% end %>
            <article>
              <div class="figure-grid custom-card-container text-center">
                <div class="image custom-figure-grid">
                  <% if vendor.profile.image.attached? %>
                    <%= link_to profiles_path(user_id: vendor.id) do %>
                      <%= image_tag(url_for(vendor.profile.image)) %>
                    <% end %>
                  <% else %>
                    <%= link_to profiles_path(user_id: vendor.id) do %>
                      <img src="/assets/furnishia/user-1.jpg" />
                    <% end %>
                  <% end %>
                </div>
                <div class="text">
                  <%= link_to profiles_path(user_id: vendor.id) do %>
                    <h2 class="title h4"><%= vendor.full_name %></h2>
                    <hr class="card-text-divider">
                    <span><%= vendor.category_title %></span>
                  <% end %>
                </div>
                <a href="<%= profiles_path(user_id: vendor.id) %>" class="btn card-btn btn-main">View</a>
              </div>
            </article>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- === button more === -->
    <div class="wrapper-more">
      <a href="<%= popular_list_vendors_path %>" class="btn btn-main">View More Vendors</a>
      <hr class="home-page">
    </div>
  </div> <!--/container-->
</section>


<!-- ========================  Popular Architects ======================== -->
<section class="products">
  <div class="container">
    <!-- === header title === -->
    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h2 class="title">Top Architects</h2>
          <div class="text custom-divider">
            <p>Check out our popular architects</p>
            <hr>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="responsivee">
        <% @popular_architects.each_with_index do |architect, index| %>
          <% if architect.active == true %>
            <% if index == 50 %>
              <% break %>
            <% end %>
            <article>
              <div class="figure-grid custom-card-container text-center">
                <div class="image custom-figure-grid">
                  <% if architect.profile.image.attached? %>
                    <%= link_to profiles_path(user_id: architect.id) do %>
                      <%= image_tag(url_for(architect.profile.image)) %>
                    <% end %>
                  <% else %>
                    <%= link_to profiles_path(user_id: architect.id) do %>
                      <img src="/assets/furnishia/user-1.jpg" alt="" />
                    <% end %>
                  <% end %>
                </div>
                <div class="text">
                  <%= link_to profiles_path(user_id: architect.id) do %>
                    <h2 class="title h4"><%= architect.full_name %></h2>
                    <hr class="card-text-divider">
                    <span><%= architect.category_title %></span>
                  <% end %>
                </div>
                <a href="<%= profiles_path(user_id: architect.id) %>" class="btn card-btn btn-main">View</a>
              </div>
            </article>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- === button more === -->
    <div class="wrapper-more">
      <a href="<%=  popular_architect_vendors_path %>" class="btn btn-main">View More Architects</a>
      <hr class="home-page">
    </div>
  </div> <!--/container-->
</section>



<!-- ========================  Popular Interior ======================== -->
<section class="products">
  <div class="container">
    <!-- === header title === -->
    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h2 class="title">Top Interior Designers</h2>
          <div class="text custom-divider">
            <p>Check out our popular interior designers</p>
            <hr>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="responsivee">
        <% @popular_interior_designers.each_with_index do |interior_designer, index| %>
          <% if interior_designer.active == true %>
            <% if index == 50 %>
              <% break %>
            <% end %>
            <article>
              <div class="figure-grid custom-card-container text-center">
                <div class="image custom-figure-grid">
                  <% if interior_designer.profile.image.attached? %>
                    <%= link_to profiles_path(user_id: interior_designer.id) do %>
                      <%= image_tag(url_for(interior_designer.profile.image)) %>
                    <% end %>
                  <% else %>
                    <%= link_to profiles_path(user_id: interior_designer.id) do %>
                      <img src="/assets/furnishia/user-1.jpg" alt=""  />
                    <% end %>
                  <% end %>
                </div>
                <div class="text">
                  <%= link_to profiles_path(user_id: interior_designer.id) do %>
                    <h2 class="title h4"><%= interior_designer.full_name %></h2>
                    <hr class="card-text-divider">
                    <span><%= interior_designer.category_title %></span>
                  <% end %>
                </div>
                <a href="<%= profiles_path(user_id: interior_designer.id) %>" class="btn card-btn btn-main">View</a>
              </div>
            </article>
          <% end %>
        <% end %>
      </div>
    </div> <!--/row-->
    <!-- === button more === -->
    <div class="wrapper-more">
      <a href="<%=  popular_interior_designer_vendors_path %>" class="btn btn-main">View More Designers</a>
      <hr class="home-page">
    </div>
  </div> <!--/container-->
</section>


<!-- ========================  Product Designer ======================== -->
<section class="products">
  <div class="container">
    <!-- === header title === -->
    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h2 class="title">Top Product Designers</h2>
          <div class="text custom-divider">
            <p>Check out our popular product designers</p>
            <hr>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="responsivee">
        <% @popular_product_designers.each_with_index do |designer, index| %>
          <% if designer.active == true %>
          <% if index == 50 %>
            <% break %>
          <% end %>
          <article>
            <div class="figure-grid custom-card-container text-center">
              <div class="image custom-figure-grid">
                <% if designer.profile.image.attached? %>
                  <%= link_to profiles_path(user_id: designer.id) do %>
                    <%= image_tag(url_for(designer.profile.image)) %>
                  <% end %>
                <% else %>
                  <%= link_to profiles_path(user_id: designer.id) do %>
                    <img src="/assets/furnishia/user-1.jpg" alt=""  />
                  <% end %>
                <% end %>
              </div>
              <div class="text">
                <%= link_to profiles_path(user_id: designer.id) do %>
                  <h2 class="title h4"><%= designer.full_name %></h2>
                  <hr class="card-text-divider">
                  <span><%= designer.category_title %></span>
                <% end %>
              </div>
              <a href="<%= profiles_path(user_id: designer.id) %>" class="btn card-btn btn-main">View</a>
            </div>
          </article>
            <% end %>
        <% end %>
      </div>
    </div> <!--/row-->
    <!-- === button more === -->
    <div class="wrapper-more">
      <a href="<%=  popular_interior_designer_vendors_path %>" class="btn btn-main">View More Designers</a>
      <hr class="home-page">
    </div>
  </div> <!--/container-->
</section>



<!-- ========================  Blog ======================== -->
<section class="blog">
  <div class="container">
    <!-- === blog header === -->
    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h1 class="h2 title">Blog</h1>
          <div class="text custom-divider">
            <p>Latest news from the blog</p>
            <hr>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="responsivee custom-blog-card custom-card-card">
        <% @blogs.each_with_index do |blog, index| %>
          <% if index == 50 %>
            <% break %>
          <% end %>
          <article>
            <%= link_to blog do%>
              <div class="image" >
                <% if blog.image.attached? %>
                  <%= image_tag(url_for(blog.image)) %>
                <% else %>
                  <img src="/assets/furnishia/no_image_product.jpg" alt=""  />
                <% end %>
              </div>
              <div class="entry entry-table">
                <div class="date-wrapper">
                  <div class="date">
                    <span><%= blog.updated_at.strftime('%b')%></span>
                    <strong><%= blog.updated_at.strftime('%d')%></strong>
                    <span><%= blog.updated_at.strftime('%Y')%></span>
                  </div>
                </div>
                <div class="title">
                  <h2 class="h5"><%= blog.title %></h2>
                </div>
              </div>
              <div class="show-more">
                <span class="btn btn-main btn-block custom-blog-btn">Read More</span>
              </div>
            <% end %>
          </article>
        <% end %>
      </div>
    </div>
    <div class="wrapper-more">
      <a href="<%= blogs_path %>" class="btn btn-main">View All Posts</a>
      <hr class="home-page">
    </div>
  </div> <!--/container-->
</section>

<!-- ========================  Instagram ======================== -->

<section class="blog">
  <div class="container">
    <!-- === blog header === -->
    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h1 class="h2 title">Advertisement</h1>
          <div class="text custom-divider">
            <p>Latest advertisemetns</p>
            <hr>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="responsivee custom-blog-card custom-card-card">
        <% @advertisements.each_with_index do |advertisement, index| %>
          <% if index == 50 %>
            <% break %>
          <% end %>
          <article>
            <%= link_to advertisement do%>
              <div class="image" >
                <% if advertisement.image.attached? %>
                  <%= image_tag(url_for(advertisement.image)) %>
                <% else %>
                  <img src="/assets/furnishia/no_image_product.jpg" alt=""  />
                <% end %>
              </div>
              <div class="entry entry-table">
                <div class="date-wrapper">
                  <div class="date">
                    <span><%= advertisement.updated_at.strftime('%b')%></span>
                    <strong><%= advertisement.updated_at.strftime('%d')%></strong>
                    <span><%= advertisement.updated_at.strftime('%Y')%></span>
                  </div>
                </div>
                <div class="title">
                  <h2 class="h5"><%= advertisement.title %></h2>
                </div>
              </div>
              <div class="show-more">
                <span class="btn btn-main btn-block custom-blog-btn">Read More</span>
              </div>
            <% end %>
          </article>
        <% end %>
      </div>
    </div>
    <div class="wrapper-more">
      <a href="<%= advertisements_path %>" class="btn btn-main">View All Advertisements</a>
    </div>
  </div> <!--/container-->
</section>




