
<!--Use class "navbar-fixed" or "navbar-default" -->
<!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

<!-- ======================== Navigation ======================== -->

<!-- ==========  Search wrapper ========== -->

<!-- ========================  Header content ======================== -->

<section class="header-content">

  <div class="owl-slider">

    <!-- === slide item === -->

    <div class="item" style="background-image:url('<%= asset_path('furnishia/gallery-3-temp.jpg') %>')">
      <div class="box">
        <div class="container">
          <h2 class="title animated h1" data-animation="fadeInDown">Modern furniture theme</h2>
          <div class="animated" data-animation="fadeInUp">
            Modern & powerfull template. <br /> Clean design & reponsive
            layout. Google fonts integration
          </div>
          <br>
          <div class="animated" data-animation="fadeInUp">
            <div class="col-lg-6">
              <%= form_tag search_home_index_path  do %>
                <div class="form-group">
                  <%= text_field_tag :q, nil, class: "form-control", autocomplete: false, placeholder: "Find Products", autofocus: true %>
                  <br>
                  <%= text_field_tag :location, nil, class: "form-control", autocomplete: false, placeholder: "Location", autofocus: true %>
                  <br>
                  <%= submit_tag "Search", class: "btn btn-primary btn-lg"%>
                </div>
              <% end %>
            </div>
            <!--                              <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-main" ><i class="icon icon-cart"></i> Buy this template</a>-->
          </div>
        </div>
      </div>
    </div>

    <!-- === slide item === -->

    <!-- <div class="item" style="background-image:url('<%= asset_path('furnishia/gallery-2-temp.jpg') %>')">
                    <div class="box">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">Mobile ready!</h2>
                            <div class="animated" data-animation="fadeInUp">Unlimited Choices. Unbeatable Prices. Free Shipping.</div>
                            <div class="animated" data-animation="fadeInUp">Furniture category icon fonts!</div>
                            <div class="animated" data-animation="fadeInUp">
                                <a href="category.html" class="btn btn-clean">Get insipred</a>
                            </div>
                        </div>
                    </div>
                </div> -->

    <!-- === slide item === -->

    <!--    <div class="item" style="background-image:url('<%= asset_path('furnishia/gallery-3-temp.jpg') %>')">
                    <div class="box">
                        <div class="container">
                            <h2 class="title animated h1" data-animation="fadeInDown">
                                Very Animate.css Friend.
                            </h2>
                            <div class="desc animated" data-animation="fadeInUp">
                                Combine with animate.css. Or just use your own!.
                            </div>
                            <div class="desc animated" data-animation="fadeInUp">
                                Bunch of typography effects.
                            </div>
                            <div class="animated" data-animation="fadeInUp">
                                <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-clean">Buy this template</a>
                            </div>
                        </div>
                    </div>
                </div> -->

  </div> <!--/owl-slider-->
</section>

<!-- ========================  Icons slider ======================== -->

<section class="owl-icons-wrapper owl-icons-frontpage">

  <!-- === header === -->

  <header class="hidden">
    <h2>Product categories</h2>
  </header>

  <div class="container">

    <div class="owl-icons">

      <!-- === icon item === -->
      <% @categories.each_with_index  do |category, index| %>
        <% if index == 8 %>
          <% break %>
        <% end %>
        <a href="<%= vendors_path(category_id: category.id) %>">
          <figure>
            <i class="f-icon f-icon-sofa"></i>
            <figcaption><%= category.title %></figcaption>
          </figure>
        </a>
      <% end %>

      <!--

                         <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-armchair"></i>-->
      <!--                            <figcaption>Armchairs</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-chair"></i>-->
      <!--                            <figcaption>Chairs</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-dining-table"></i>-->
      <!--                            <figcaption>Dining tables</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-media-cabinet"></i>-->
      <!--                            <figcaption>Media storage</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-table"></i>-->
      <!--                            <figcaption>Tables</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-bookcase"></i>-->
      <!--                            <figcaption>Bookcase</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-bedroom"></i>-->
      <!--                            <figcaption>Bedroom</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-nightstand"></i>-->
      <!--                            <figcaption>Nightstand</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-children-room"></i>-->
      <!--                            <figcaption>Children room</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-kitchen"></i>-->
      <!--                            <figcaption>Kitchen</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-bathroom"></i>-->
      <!--                            <figcaption>Bathroom</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-wardrobe"></i>-->
      <!--                            <figcaption>Wardrobe</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-shoe-cabinet"></i>-->
      <!--                            <figcaption>Shoe cabinet</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-office"></i>-->
      <!--                            <figcaption>Office</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-bar-set"></i>-->
      <!--                            <figcaption>Bar sets</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-lightning"></i>-->
      <!--                            <figcaption>Lightning</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-carpet"></i>-->
      <!--                            <figcaption>Varpet</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

      <!--                    <!-- === icon item === -->

      <!--                    <a href="#">-->
      <!--                        <figure>-->
      <!--                            <i class="f-icon f-icon-accessories"></i>-->
      <!--                            <figcaption>Accessories</figcaption>-->
      <!--                        </figure>-->
      <!--                    </a>-->

    </div> <!--/owl-icons-->
  </div> <!--/container-->
</section>

<!-- ========================  Stretcher widget ======================== -->
<br>
<br>
<section class="stretcher-wrapper">

  <!-- === stretcher header === -->

  <header class="hidden">
    <!--remove class 'hidden'' to show section header -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h1 class="h2 title">Popular categories</h1>
          <div class="text">
            <p>
              Whether you are changing your home, or moving into a new one, you will find a huge selection of quality living room furniture,
              bedroom furniture, dining room furniture and the best value at Furniture factory
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- === stretcher === -->
  <header>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 text-center">
        <h2 class="title">Popular Cities</h2>
        <div class="text">
          <p>Check out our popular cities</p>
        </div>
      </div>
    </div>
  </header>
  <ul class="stretcher">

    <!-- === stretcher item === -->
    <% @cities.each_with_index do |city,index| %>
      <% if index == 4 %>
        <% break %>
      <% end %>
      <li class="stretcher-item" style="background-image:url(' <%= (url_for(city.image)) %>')">
        <!--logo-item-->
        <div class="stretcher-logo">
          <div class="text">
            <span class="text-intro"><%= city.title %></span>
          </div>
        </div>
        <!--main text-->
        <figure>
          <h4>Vendors</h4>
          <figcaption></figcaption>
        </figure>
        <!--anchor-->
        <a href="<%= city_path(city) %>">Anchor link</a>
      </li>
    <% end %>
    <!-- === stretcher item more=== -->

    <li class="stretcher-item more">
      <div class="more-icon">
        <span data-title-show="Show more" data-title-hide="+"></span>
      </div>
      <a href="<%= cities_path %>"></a>
    </li>
  </ul>
</section>



<!-- ========================  Products widget ======================== -->
<section class="products">

  <div class="container">

    <!-- === header title === -->

    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h2 class="title">Popular products</h2>
          <div class="text">
            <p>Check out our latest collections</p>
          </div>
        </div>
      </div>
    </header>

    <div class="row">

      <!-- === product-item === -->
      <% index = 0 %>
      <%  @popular_products.each do |product|  %>
        <% if product.visibility == true %>
          <div class="col-md-3 col-xs-6">
            <% index = index + 1 %>
            <% if index == 8 %>
              <% break %>
            <% end %>
            <article>
              <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
              </div>
              <div class="btn btn-add">
                <i class="icon icon-cart"></i>
              </div>
              <div class="figure-grid">

                <div class="image">
                  <% if product.images.attached? %>
                    <%= link_to product do%>
                      <%= image_tag(url_for(product.images.first)) %><br>
                    <% end %>
                  <% else %>
                    <%= link_to product do%>
                      <img src="/assets/furnishia/product-1.png" alt="" width="360" />
                    <% end %>
                  <% end %>
                </div>

                <div class="text">
                  <%= link_to product do%>
                    <h2 class="title h4"><%= product.title %></h2>
                  <% end %>
                  <sup>$ <%= product.price %></sup>
                  <span class="description clearfix"><%= product.description %></span>
                </div>
              </div>
            </article>
          </div>
        <% end %>
      <% end %>


    </div> <!--/row-->
    <!-- === button more === -->

    <div class="wrapper-more">
      <a href="<%= popular_list_products_path %>" class="btn btn-main">View more products</a>
    </div>

    <!-- ========================  Product info popup - quick view ======================== -->

    <div class="popup-main mfp-hide" id="productid1">

      <!-- === product popup === -->

      <div class="product">

        <!-- === popup-title === -->

        <div class="popup-title">
          <div class="h1 title">Laura <small>product category</small></div>
        </div>

        <!-- === product gallery === -->

        <div class="owl-product-gallery">
          <%= image_tag "furnishia/product-1.png",size: "640" %>
          <%= image_tag "furnishia/product-2.png",size: "640" %>
          <%= image_tag "furnishia/product-3.png",size: "640" %>
          <%= image_tag "furnishia/product-4.png",size: "640" %>
        </div>

        <!-- === product-popup-info === -->

        <div class="popup-content">
          <div class="product-info-wrapper">
            <div class="row">

              <!-- === left-column === -->

              <div class="col-sm-6">
                <div class="info-box">
                  <strong>Maifacturer</strong>
                  <span>Brand name</span>
                </div>
                <div class="info-box">
                  <strong>Materials</strong>
                  <span>Wood, Leather, Acrylic</span>
                </div>
                <div class="info-box">
                  <strong>Availability</strong>
                  <span><i class="fa fa-check-square-o"></i> in stock</span>
                </div>
              </div>

              <!-- === right-column === -->

              <div class="col-sm-6">
                <div class="info-box">
                  <strong>Available Colors</strong>
                  <div class="product-colors clearfix">
                    <span class="color-btn color-btn-red"></span>
                    <span class="color-btn color-btn-blue checked"></span>
                    <span class="color-btn color-btn-green"></span>
                    <span class="color-btn color-btn-gray"></span>
                    <span class="color-btn color-btn-biege"></span>
                  </div>
                </div>
                <div class="info-box">
                  <strong>Choose size</strong>
                  <div class="product-colors clearfix">
                    <span class="color-btn color-btn-biege">S</span>
                    <span class="color-btn color-btn-biege checked">M</span>
                    <span class="color-btn color-btn-biege">XL</span>
                    <span class="color-btn color-btn-biege">XXL</span>
                  </div>
                </div>
              </div>

            </div> <!--/row-->
          </div> <!--/product-info-wrapper-->
        </div> <!--/popup-content-->
        <!-- === product-popup-footer === -->

        <div class="popup-table">
          <div class="popup-cell">
            <div class="price">
              <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
            </div>
          </div>
          <div class="popup-cell">
            <div class="popup-buttons">
              <a href="product.html"><span class="icon icon-eye"></span> <span class="hidden-xs">View more</span></a>
              <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Buy</span></a>
            </div>
          </div>
        </div>

      </div> <!--/product-->
    </div> <!--popup-main-->
  </div> <!--/container-->
</section>

<!-- ========================  Popular Vendors ======================== -->
<section class="products">

  <div class="container">

    <!-- === header title === -->

    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h2 class="title">Popular Vendors</h2>
          <div class="text">
            <p>Check out our popular vendors</p>
          </div>
        </div>
      </div>
    </header>

    <div class="row">
      <!-- === product-item === -->
      <% index = 0 %>
      <%  @popular_vendors.each do |vendor|  %>
        <% if vendor.display_products? %>
          <div class="col-md-3 col-xs-6">
            <% index = index + 1 %>
            <% if index == 8 %>
              <% break %>
            <% end %>
            <article>
              <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
              </div>
              <div class="btn btn-add">
                <i class="icon icon-cart"></i>
              </div>
              <div class="figure-grid">
                <div class="image">
                  <% if vendor.profile.image.attached? %>
                    <%= link_to products_path(user_id: vendor.id) do %>
                      <%= image_tag(url_for(vendor.profile.image)) %>
                    <% end %>
                  <% else %>
                    <%= link_to products_path(user_id: vendor.id) do %>
                      <img src="/assets/furnishia/product-1.png" alt="" width="360" />
                    <% end %>
                  <% end %>
                </div>
                <div class="text">
                  <div class="name">
                    <%= link_to products_path(user_id: vendor.id) do %>
                      <div class="h3 title"><%= vendor.full_name %> <small><%= vendor.category_title %></small></div>
                    <% end %>
                  </div>
                </div>
            </article>
          </div>
        <% end %>
      <% end %>
    </div> <!--/row-->
    <!-- === button more === -->

    <div class="wrapper-more">
      <a href="<%= popular_list_vendors_path %>" class="btn btn-main">View more vendors</a>
    </div>

    <!-- ========================  Product info popup - quick view ======================== -->

    <div class="popup-main mfp-hide" id="productid1">

      <!-- === product popup === -->

      <div class="product">

        <!-- === popup-title === -->

        <div class="popup-title">
          <div class="h1 title">Laura <small>product category</small></div>
        </div>

        <!-- === product gallery === -->

        <div class="owl-product-gallery">
          <%= image_tag "furnishia/product-1.png",size: "640" %>
          <%= image_tag "furnishia/product-2.png",size: "640" %>
          <%= image_tag "furnishia/product-3.png",size: "640" %>
          <%= image_tag "furnishia/product-4.png",size: "640" %>
        </div>

        <!-- === product-popup-info === -->

        <div class="popup-content">
          <div class="product-info-wrapper">
            <div class="row">

              <!-- === left-column === -->

              <div class="col-sm-6">
                <div class="info-box">
                  <strong>Maifacturer</strong>
                  <span>Brand name</span>
                </div>
                <div class="info-box">
                  <strong>Materials</strong>
                  <span>Wood, Leather, Acrylic</span>
                </div>
                <div class="info-box">
                  <strong>Availability</strong>
                  <span><i class="fa fa-check-square-o"></i> in stock</span>
                </div>
              </div>

              <!-- === right-column === -->

              <div class="col-sm-6">
                <div class="info-box">
                  <strong>Available Colors</strong>
                  <div class="product-colors clearfix">
                    <span class="color-btn color-btn-red"></span>
                    <span class="color-btn color-btn-blue checked"></span>
                    <span class="color-btn color-btn-green"></span>
                    <span class="color-btn color-btn-gray"></span>
                    <span class="color-btn color-btn-biege"></span>
                  </div>
                </div>
                <div class="info-box">
                  <strong>Choose size</strong>
                  <div class="product-colors clearfix">
                    <span class="color-btn color-btn-biege">S</span>
                    <span class="color-btn color-btn-biege checked">M</span>
                    <span class="color-btn color-btn-biege">XL</span>
                    <span class="color-btn color-btn-biege">XXL</span>
                  </div>
                </div>
              </div>

            </div> <!--/row-->
          </div> <!--/product-info-wrapper-->
        </div> <!--/popup-content-->
        <!-- === product-popup-footer === -->

        <div class="popup-table">
          <div class="popup-cell">
            <div class="price">
              <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
            </div>
          </div>
          <div class="popup-cell">
            <div class="popup-buttons">
              <a href="product.html"><span class="icon icon-eye"></span> <span class="hidden-xs">View more</span></a>
              <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Buy</span></a>
            </div>
          </div>
        </div>

      </div> <!--/product-->
    </div> <!--popup-main-->
  </div> <!--/container-->
</section>


<!-- ========================  Popular Architects ======================== -->
<section class="products">

  <div class="container">

    <!-- === header title === -->

    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h2 class="title">Popular Architects</h2>
          <div class="text">
            <p>Check out our popular architects</p>
          </div>
        </div>
      </div>
    </header>

    <div class="row">

      <!-- === product-item === -->
      <% index = 0 %>
      <%  unless @popular_architects.nil? %>
        <%  @popular_architects.each do |architect|  %>
          <div class="col-md-3 col-xs-6">
            <% index = index + 1 %>
            <% if index == 8 %>
              <% break %>
            <% end %>
            <article>
              <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
              </div>
              <div class="btn btn-add">
                <i class="icon icon-cart"></i>
              </div>
              <div class="figure-grid">

                <div class="image">
                  <% if architect.profile.image.attached? %>
                    <%= link_to projects_path(user_id: architect.id) do %>
                      <%= image_tag(url_for(architect.profile.image)) %>
                    <% end %>
                  <% else %>
                    <%= link_to projects_path(user_id: architect.id) do %>
                      <img src="/assets/furnishia/product-1.png" alt="" width="360" />
                    <% end %>
                  <% end %>
                </div>
                <div class="text">
                  <div class="name">
                    <%= link_to projects_path(user_id: architect.id) do %>
                      <div class="h3 title"><%= architect.full_name %> <small><%= architect.category_title %></small></div>
                    <% end %>
                  </div>
                </div>
            </article>
          </div>
        <% end %>
      <% end %>


    </div> <!--/row-->
    <!-- === button more === -->

    <div class="wrapper-more">
      <a href="<%=  popular_architect_vendors_path %>" class="btn btn-main">View more architects</a>
    </div>

    <!-- ========================  Product info popup - quick view ======================== -->

    <div class="popup-main mfp-hide" id="productid1">

      <!-- === product popup === -->

      <div class="product">

        <!-- === popup-title === -->

        <div class="popup-title">
          <div class="h1 title">Laura <small>product category</small></div>
        </div>

        <!-- === product gallery === -->

        <div class="owl-product-gallery">
          <%= image_tag "furnishia/product-1.png",size: "640" %>
          <%= image_tag "furnishia/product-2.png",size: "640" %>
          <%= image_tag "furnishia/product-3.png",size: "640" %>
          <%= image_tag "furnishia/product-4.png",size: "640" %>
        </div>

        <!-- === product-popup-info === -->

        <div class="popup-content">
          <div class="product-info-wrapper">
            <div class="row">

              <!-- === left-column === -->

              <div class="col-sm-6">
                <div class="info-box">
                  <strong>Maifacturer</strong>
                  <span>Brand name</span>
                </div>
                <div class="info-box">
                  <strong>Materials</strong>
                  <span>Wood, Leather, Acrylic</span>
                </div>
                <div class="info-box">
                  <strong>Availability</strong>
                  <span><i class="fa fa-check-square-o"></i> in stock</span>
                </div>
              </div>

              <!-- === right-column === -->

              <div class="col-sm-6">
                <div class="info-box">
                  <strong>Available Colors</strong>
                  <div class="product-colors clearfix">
                    <span class="color-btn color-btn-red"></span>
                    <span class="color-btn color-btn-blue checked"></span>
                    <span class="color-btn color-btn-green"></span>
                    <span class="color-btn color-btn-gray"></span>
                    <span class="color-btn color-btn-biege"></span>
                  </div>
                </div>
                <div class="info-box">
                  <strong>Choose size</strong>
                  <div class="product-colors clearfix">
                    <span class="color-btn color-btn-biege">S</span>
                    <span class="color-btn color-btn-biege checked">M</span>
                    <span class="color-btn color-btn-biege">XL</span>
                    <span class="color-btn color-btn-biege">XXL</span>
                  </div>
                </div>
              </div>

            </div> <!--/row-->
          </div> <!--/product-info-wrapper-->
        </div> <!--/popup-content-->
        <!-- === product-popup-footer === -->

        <div class="popup-table">
          <div class="popup-cell">
            <div class="price">
              <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
            </div>
          </div>
          <div class="popup-cell">
            <div class="popup-buttons">
              <a href="product.html"><span class="icon icon-eye"></span> <span class="hidden-xs">View more</span></a>
              <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Buy</span></a>
            </div>
          </div>
        </div>

      </div> <!--/product-->
    </div> <!--popup-main-->
  </div> <!--/container-->
</section>

<!-- ========================  Popular Interior ======================== -->
<section class="products">

  <div class="container">

    <!-- === header title === -->

    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h2 class="title">Popular Interior Designers</h2>
          <div class="text">
            <p>Check out our popular interior designers</p>
          </div>
        </div>
      </div>
    </header>

    <div class="row">

      <!-- === product-item === -->
      <% index = 0 %>
      <%  unless @popular_interior_designers.nil? %>
        <%  @popular_interior_designers.each do |interior_designer|  %>
          <div class="col-md-3 col-xs-6">
            <% index = index + 1 %>
            <% if index == 8 %>
              <% break %>
            <% end %>
            <article>
              <div class="info">
                    <span class="add-favorite">
                        <a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a>
                    </span>
                <span>
                        <a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                    </span>
              </div>
              <div class="btn btn-add">
                <i class="icon icon-cart"></i>
              </div>
              <div class="figure-grid">

                <div class="image">
                  <% if interior_designer.profile.image.attached? %>
                    <%= link_to projects_path(user_id: interior_designer.id) do %>
                      <%= image_tag(url_for(interior_designer.profile.image)) %>
                    <% end %>
                  <% else %>
                    <%= link_to projects_path(user_id: interior_designer.id) do %>
                      <img src="/assets/furnishia/product-1.png" alt="" width="360" />
                    <% end %>
                  <% end %>
                </div>
                <div class="text">
                  <div class="name">
                    <%= link_to projects_path(user_id: interior_designer.id) do %>
                      <div class="h3 title"><%= interior_designer.full_name %> <small><%= architect.category_title %></small></div>
                    <% end %>
                  </div>
                </div>
            </article>
          </div>
        <% end %>
      <% end %>


    </div> <!--/row-->
    <!-- === button more === -->

    <div class="wrapper-more">
      <a href="<%=  popular_interior_designer_vendors_path %>" class="btn btn-main">View more designers</a>
    </div>

    <!-- ========================  Product info popup - quick view ======================== -->

    <div class="popup-main mfp-hide" id="productid1">

      <!-- === product popup === -->

      <div class="product">

        <!-- === popup-title === -->

        <div class="popup-title">
          <div class="h1 title">Laura <small>product category</small></div>
        </div>

        <!-- === product gallery === -->

        <div class="owl-product-gallery">
          <%= image_tag "furnishia/product-1.png",size: "640" %>
          <%= image_tag "furnishia/product-2.png",size: "640" %>
          <%= image_tag "furnishia/product-3.png",size: "640" %>
          <%= image_tag "furnishia/product-4.png",size: "640" %>
        </div>

        <!-- === product-popup-info === -->

        <div class="popup-content">
          <div class="product-info-wrapper">
            <div class="row">

              <!-- === left-column === -->

              <div class="col-sm-6">
                <div class="info-box">
                  <strong>Maifacturer</strong>
                  <span>Brand name</span>
                </div>
                <div class="info-box">
                  <strong>Materials</strong>
                  <span>Wood, Leather, Acrylic</span>
                </div>
                <div class="info-box">
                  <strong>Availability</strong>
                  <span><i class="fa fa-check-square-o"></i> in stock</span>
                </div>
              </div>

              <!-- === right-column === -->

              <div class="col-sm-6">
                <div class="info-box">
                  <strong>Available Colors</strong>
                  <div class="product-colors clearfix">
                    <span class="color-btn color-btn-red"></span>
                    <span class="color-btn color-btn-blue checked"></span>
                    <span class="color-btn color-btn-green"></span>
                    <span class="color-btn color-btn-gray"></span>
                    <span class="color-btn color-btn-biege"></span>
                  </div>
                </div>
                <div class="info-box">
                  <strong>Choose size</strong>
                  <div class="product-colors clearfix">
                    <span class="color-btn color-btn-biege">S</span>
                    <span class="color-btn color-btn-biege checked">M</span>
                    <span class="color-btn color-btn-biege">XL</span>
                    <span class="color-btn color-btn-biege">XXL</span>
                  </div>
                </div>
              </div>

            </div> <!--/row-->
          </div> <!--/product-info-wrapper-->
        </div> <!--/popup-content-->
        <!-- === product-popup-footer === -->

        <div class="popup-table">
          <div class="popup-cell">
            <div class="price">
              <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
            </div>
          </div>
          <div class="popup-cell">
            <div class="popup-buttons">
              <a href="product.html"><span class="icon icon-eye"></span> <span class="hidden-xs">View more</span></a>
              <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Buy</span></a>
            </div>
          </div>
        </div>

      </div> <!--/product-->
    </div> <!--popup-main-->
  </div> <!--/container-->
</section>


<!-- ========================  Blog Block ======================== -->



<!-- ========================  Banner ======================== -->


<!-- ========================  Blog ======================== -->

<section class="blog">

  <div class="container">

    <!-- === blog header === -->

    <header>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <h1 class="h2 title">Blog</h1>
          <div class="text">
            <p>Latest news from the blog</p>
          </div>
        </div>
      </div>
    </header>

    <div class="row">

      <!-- === blog item === -->
      <% @blogs.each_with_index do |blog, index| %>
        <% if index == 4 %>
          <% break %>
        <% end %>
        <div class="col-sm-3">
          <article>
            <%= link_to blog do%>
              <div class="image" >
                <% if blog.image.attached? %>
                  <%= image_tag(url_for(blog.image)) %><br>
                <% else %>
                  <img src="/assets/furnishia/product-1.png" alt="" width="360" />
                <% end %>
              </div>
              <div class="entry entry-table">
                <div class="date-wrapper">
                  <div class="date">
                    <span><%= blog.updated_at.strftime('%b')%></span>
                    <strong><%= blog.updated_at.strftime('%d')%></strong>
                    <span><%= blog.updated_at.strftime('%Y')%></span>
                  </div>
                </div>
                <div class="title">
                  <h2 class="h5"><%= blog.title %></h2>
                </div>
              </div>
              <div class="show-more">
                <span class="btn btn-main btn-block">Read more</span>
              </div>
            <% end %>
          </article>
        </div>
      <% end %>
      <!-- === blog item === -->


    </div> <!--/row-->
    <!-- === button more === -->

    <div class="wrapper-more">
      <a href="<%= blogs_path %>" class="btn btn-main">View all posts</a>
    </div>

  </div> <!--/container-->
</section>

<!-- ========================  Instagram ======================== -->

<section class="instagram">

  <!-- === instagram header === -->



  <!-- === instagram gallery === -->

  <div class="gallery clearfix">
    <a class="item" href="#">

      <%= image_tag "furnishia/square-1.jpg" %>
    </a>
    <a class="item" href="#">
      <%= image_tag "furnishia/square-2.jpg" %>
    </a>
    <a class="item" href="#">
      <%= image_tag "furnishia/square-3.jpg" %>
    </a>
    <a class="item" href="#">
      <%= image_tag "furnishia/square-4.jpg" %>
    </a>
    <a class="item" href="#">
      <%= image_tag "furnishia/square-5.jpg" %>
    </a>
    <a class="item" href="#">
      <%= image_tag "furnishia/square-6.jpg" %>
    </a>

  </div> <!--/gallery-->

</section>

<!-- ================== Footer  ================== -->

<footer>
  <div class="container">

    <!--footer showroom-->
    <div class="footer-showroom">
      <div class="row">
        <div class="col-sm-8">
          <h2>Visit our showroom</h2>
          <p>200 12th Ave, New York, NY 10001, USA</p>
          <p>Mon - Sat: 10 am - 6 pm &nbsp; &nbsp; | &nbsp; &nbsp; Sun: 12pm - 2 pm</p>
        </div>
        <div class="col-sm-4 text-center">
          <a href="#" class="btn btn-clean"><span class="icon icon-map-marker"></span> Get directions</a>
          <div class="call-us h4"><span class="icon icon-phone-handset"></span> 333.278.06622</div>
        </div>
      </div>
    </div>

    <!--footer links-->
    <div class="footer-links">
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <h5>Browse by</h5>
          <ul>
            <li><a href="#">Brand</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Category</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Recources</h5>
          <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Sales</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Our company</h5>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <h5>Sign up for our newsletter</h5>
          <p><i>Add your email address to sign up for our monthly emails and to receive promotional offers.</i></p>
          <div class="form-group form-newsletter">
            <input class="form-control" type="text" name="email" value="" placeholder="Email address" />
            <input type="submit" class="btn btn-clean btn-sm" value="Subscribe" />
          </div>
        </div>
      </div>
    </div>

    <!--footer social-->

    <div class="footer-social">
      <div class="row">
        <div class="col-sm-6">
          <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank"><i class="fa fa-download"></i> Download Mobel</a> &nbsp; | <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a>
        </div>
        <div class="col-sm-6 links">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

