
  <!--Use class "navbar-fixed" or "navbar-default" -->
  <!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

  <!-- ======================== Navigation ======================== -->



  <!-- ======================== Main header ======================== -->

  <section class="main-header" style="background-image:url(assets/images/gallery-3.jpg)">
    <header>
      <div class="container">
        <h1 class="h2 title">Search</h1>
        <ol class="breadcrumb breadcrumb-inverted">
          <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
          <li><a class="active">Search Results</a></li>
        </ol>
      </div>
    </header>
  </section>

  <!-- ======================== Products ======================== -->

  <section class="products">
    <div class="container">

      <header class="hidden">
        <h3 class="h3 title">Product category grid</h3>
      </header>

      <div class="row">
        <!-- === product-filters === -->
        <div class="col-md-3 col-xs-12">
          <div id="filters" class="filters custom-filters">
            <!--Price-->
            <div class="filter-box active">
              <div class="title">Price</div>
              <div class="filter-content">
                <div class="price-filter">
                  <input type="text" id="range-price-slider" value="" name="range" />
                </div>
              </div>
            </div>
            <!--Discount-->
            <div class="filter-box active">
              <div class="title">
                Product Categories
              </div>
              <div class="filter-content">
               <span class="checkbox">
                <input type="radio" class="category-radio" id="all-categories" name="product-category" value="" checked="checked">
                <label for="all-categories">All <i><%= Product.count %></i></label>
                </span>
                <% @product_categories.each_with_index do |product_category, index| %>
                  <span class="checkbox">
                    <input type="radio" class="category-radio" id="product-category-<%= product_category.id %>" name="product-category" value="<%= product_category.id %>">
                    <label for="product-category-<%= product_category.id %>"><%= product_category.title %> <i><%= product_category.products.count %></i></label>
                  </span>
                <% end %>
              </div>
            </div> <!--/filter-box-->
            <!--Type-->
            <div class="filter-box active">
              <div class="title">
                Product Types
              </div>
              <div class="filter-content">
                 <span class="checkbox">
                  <input type="radio" class="type-radio" name="product_type" id="all-types" value="" checked="checked">
                  <label for="all-types">All <i><%= Product.count %></i></label>
                 </span>
                <% @product_types.each do |product_type| %>
                  <span class="checkbox">
                    <input type="radio" class="type-radio" name="product_type" id="product-type-<%= product_type.id %>" value="<%= product_type.id %>">
                    <label for="product-type-<%= product_type.id %>"><%= product_type.title %> <i><%= product_type.products.count %></i></label>
                  </span>
                <% end %>
              </div>
            </div> <!--/filter-box-->
          </div> <!--/filters-->
        </div>
        <!--product items-->
        <div class="col-md-9 col-xs-12" id="product-items">
          <% if !@products.nil? %>
          <%= render partial: 'product_items', locals: { products: @products } %>
          <% end %>
        </div> <!--/product items-->
      </div><!--/row-->
    </div><!--/container-->
  </section>
<div class="pagination-wrapper">
  <%= will_paginate @products %>
</div>

  <!-- ================== Footer  ================== -->

  <footer>
    <div class="container">

      <!--footer showroom-->
      <div class="footer-showroom">
        <div class="row">
          <div class="col-sm-8">
            <h2>Visit our showroom</h2>
            <p>200 12th Ave, New York, NY 10001, USA</p>
            <p>Mon - Sat: 10 am - 6 pm &nbsp; &nbsp; | &nbsp; &nbsp; Sun: 12pm - 2 pm</p>
          </div>
          <div class="col-sm-4 text-center">
            <a href="#" class="btn btn-clean"><span class="icon icon-map-marker"></span> Get directions</a>
            <div class="call-us h4"><span class="icon icon-phone-handset"></span> 333.278.06622</div>
          </div>
        </div>
      </div>

      <!--footer links-->
      <div class="footer-links">
        <div class="row">
          <div class="col-sm-4 col-md-2">
            <h5>Browse by</h5>
            <ul>
              <li><a href="#">Brand</a></li>
              <li><a href="#">Product</a></li>
              <li><a href="#">Category</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-2">
            <h5>Recources</h5>
            <ul>
              <li><a href="#">Design</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Sales</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-2">
            <h5>Our company</h5>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6">
            <h5>Sign up for our newsletter</h5>
            <p><i>Add your email address to sign up for our monthly emails and to receive promotional offers.</i></p>
            <div class="form-group form-newsletter">
              <input class="form-control" type="text" name="email" value="" placeholder="Email address" />
              <input type="submit" class="btn btn-clean btn-sm" value="Subscribe" />
            </div>
          </div>
        </div>
      </div>

      <!--footer social-->

      <div class="footer-social">
        <div class="row">
          <div class="col-sm-6">
            <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank"><i class="fa fa-download"></i> Download Mobel</a> &nbsp; | <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a>
          </div>
          <div class="col-sm-6 links">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

<script>
    $(function(){
        $('.type-radio, .category-radio, #range-price-slider').change(function(){
            product_category_id = $('.category-radio:checked').val();
            product_type_id = $('.type-radio:checked').val();
            price = $('#range-price-slider').val().split(';').join(',');
            $.ajax({
                url: `<%= search_home_index_path(format: :js) %>?product_category_id=${product_category_id}&product_type_id=${product_type_id}&price_range=${price}`
            });
        })
    })
</script>
