

<!--Use class "navbar-fixed" or "navbar-default" -->
<!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

<!-- ======================== Navigation ======================== -->



<!-- ========================  Main header ======================== -->

<section class="main-header" style="background-image:url(assets/images/gallery-2.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title"><%= @project.title %></h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a href="<%= vendors_path(category_id: @vendor.category_id) %>"><%= @vendor.category.title %> Vendors</a></li>
        <li><a href="<%= profiles_path(user_id: @vendor.id) %>"> Profile</a></li>
        <li><a class="active">Project overview</a></li>
      </ol>
    </div>
  </header>
</section>

<!-- ========================  Product ======================== -->

<section class="product">
  <div class="main">
    <div class="container">
      <div class="row product-flex">

        <!-- product flex is used only for mobile order -->
        <!-- on mobile 'product-flex-info' goes bellow gallery 'product-flex-gallery' -->

        <div class="col-md-4 col-sm-12 product-flex-info">
          <div class="clearfix">

            <!-- === product-title === -->

            <h1 class="title" ><%= @project.title %> </h1>

            <div class="clearfix">


              <hr />

              <!-- === info-box === -->

              <div class="info-box">
                <span><strong>Maifacturer</strong></span>
                <span><%= @vendor.full_name %></span>
              </div>
              <div id="avg_rate">

              </div>
              <hr />



              <!-- === info-box === -->


            </div> <!--/clearfix-->
          </div> <!--/product-info-wrapper-->
        </div> <!--/col-md-4-->
        <!-- === product item gallery === -->

        <div class="col-md-8 col-sm-12 product-flex-gallery">


          <!-- === product gallery === -->

          <div class="owl-product-gallery open-popup-gallery">
            <% if @project.images.attached? %>
              <% @project.images.each do |image| %>
                <%= image_tag(url_for(image)) %>
              <% end %>
            <% else %>
              <a href="assets/images/product-1.png"><img src="/assets/furnishia/product-1.png" alt="" height="500" /></a>
            <% end %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- === product-info === -->

  <div class="info">
    <div class="container">
      <div class="row">

        <!-- === product-designer === -->

        <div class="col-md-4">
          <div class="designer">
            <div class="box">
              <div class="image">
                <% if @vendor.profile.image.attached? %>
                  <%= image_tag(url_for(@vendor.profile.image)) %>
                <% else %>
                  <img src="/assets/furnishia/user-1.jpg" alt="" height="250" />
                <% end %>
              </div>
              <div class="name">
                <div class="h3 title"><%= @vendor.full_name %><small><%= @vendor.category.title %></small></div>
                <hr />
                <p><a href="mailto:johndoe@mail.com"><i class="icon icon-envelope"></i> <%= @vendor.email %></a></p>
                <p><a href="tel:002255858"><i class="icon icon-phone-handset"></i> <%= @vendor.contact_details %></a></p>
                <p>
                  <a href="<%= @vendor.profile.facebook %>" class="btn btn-main btn-xs"><i class="fa fa-facebook"></i></a>
                  <a href="<%= @vendor.profile.instagram %>" class="btn btn-main btn-xs"><i class="fa fa-instagram"></i></a>
                  <a href="<%= @vendor.profile.twitter %>" class="btn btn-main btn-xs"><i class="fa fa-twitter"></i></a>
                </p>
              </div> <!--/name-->
            </div> <!--/box-->

          </div> <!--/designer-->
        </div> <!--/col-md-4-->
        <!-- === nav-tabs === -->

        <div class="col-md-8">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#design" aria-controls="design" role="tab" data-toggle="tab">
                <i class="icon icon-sort-alpha-asc"></i>
                <span>Description</span>
              </a>
            </li>

            <li role="presentation" >
              <a href="#designer" aria-controls="designer" role="tab" data-toggle="tab">
                <i class="icon icon-user"></i>
                <span>Collection</span>
              </a>
            </li>

            <li role="presentation">
              <a href="#rating" aria-controls="rating" role="tab" data-toggle="tab">
                <i class="icon icon-thumbs-up"></i>
                <span>Rating</span>
              </a>
            </li>
          </ul>

          <!-- === tab-panes === -->

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane" id="designer">
              <div class="content">

                <!-- === designer collection title === -->

                <h3>Designers collection</h3>

                <div class="products">
                  <div class="row">

                    <!-- === product-item === -->
                    <% @projects.each_with_index do |project, index| %>
                      <% if index == 4 %>
                        <% break %>
                      <% end %>
                      <div class="col-md-6 col-xs-6">
                        <article>
                          <div class="figure-grid">
                            <div class="image">
                              <% if project.images.attached? %>
                                <%= link_to project do%>
                                  <%= image_tag(url_for(project.images.first)) %><br>
                                <% end %>
                              <% else %>
                                <%= link_to project do%>
                                  <img src="/assets/furnishia/product-1.png" alt="" width="360" />
                                <% end %>
                              <% end %>
                            </div>
                            <div class="text">
                              <h4 class="title"><%= project.title %></h4>
                              <span class="description clearfix"><%= project.description %></span>
                            </div>
                          </div>
                        </article>
                      </div>
                    <% end %>
                  </div> <!--/row-->
                </div> <!--/products-->
              </div> <!--/content-->
            </div> <!--/tab-pane-->
            <!-- ============ tab #2 ============ -->

            <div role="tabpanel" class="tab-pane active" id="design">
              <div class="content">
                <div class="row">
                  <div class="col-md-8">
                    <h3>Dimensions</h3>
                    <p>
                      <%= @project.description %>
                    </p>
                  </div>


                </div> <!--/row-->
              </div> <!--/content-->
            </div> <!--/tab-pane-->
            <!-- ============ tab #3 ============ -->

            <div role="tabpanel" class="tab-pane" id="rating">

              <!-- ============ ratings ============ -->

              <div class="content">
                <h3>Rating</h3>

                <div class="row">

                  <!-- === comments === -->

                  <div class="col-md-12">
                    <div class="comments">

                      <!-- === rating === -->

                      <div class="rating clearfix">
                        <div class="rate-box">
                          <strong>Rate this Product</strong>
                          <div id="rateYo"></div>
                          <%= form_for Like.new, remote: true do |f| %>
                            <div class="form-group">
                              <%= f.hidden_field(:parent_id, value: @project.id ) %>
                              <%= f.hidden_field(:parent_type, value: Like.parent_type_project ) %>
                              <%= f.hidden_field(:value, value: true ) %>
                              <%= f.submit 'Like Product', :class => 'btn btn-main', :id => 'like-button' %>
                          <% end %>
                          <a  id='likes-count' class="btn btn-clean-dark"><%= @likes.count %> likes</a>
                        </div>

                      </div>
                      <div class="comment-wrapper" id="comments-container">

                        <!-- === comment === -->
                        <% @comments.each do |comment| %>
                          <%= render partial: 'comment', locals: { comment: comment } %>
                        <% end %>

                      </div><!--/comment-wrapper-->

                      <div class="comment-header">
                        <a href="#" id='comments-count' class="btn btn-clean-dark"><%= @comments.count %> comments</a>
                      </div> <!--/comment-header-->
                      <!-- === add comment === -->

                      <div class="comment-add">

                        <div class="comment-reply-message">
                          <div class="h3 title">Leave a Reply </div>
                          <p>Your email address will not be published.</p>
                        </div>
                        <%= form_for Comment.new, remote: true do |f| %>

                          <div class="form-group">
                            <%= f.text_area(:statement, size: '50x10', :class => 'form-control') %>
                          </div>
                          <%= f.hidden_field(:parent_id, value: @project.id , :id => "comment_area") %>
                          <%= f.hidden_field(:parent_type, value: Comment.parent_type_project ) %>
                          <div class="clearfix text-center">
                            <%= f.submit 'Add comment', :class => 'btn btn-main' %>
                          </div>
                        <% end %>
                      </div><!--/comment-add-->
                    </div>
                  </div>


                </div> <!--/row-->
              </div> <!--/content-->
            </div> <!--/tab-pane-->
          </div> <!--/tab-content-->
        </div>
      </div> <!--/row-->
    </div> <!--/container-->
  </div> <!--/info-->
</section>

<!-- ========================  Product info popup - quick view ======================== -->

<div class="popup-main mfp-hide" id="productid1">

  <!-- === product popup === -->

  <div class="product">

    <!-- === popup-title === -->

    <div class="popup-title">
      <div class="h1 title">Laura <small>product category</small></div>
    </div>

    <!-- === product gallery === -->

    <div class="owl-product-gallery">
      <img src="assets/images/product-1.png" alt="" width="640" />
      <img src="assets/images/product-2.png" alt="" width="640" />
      <img src="assets/images/product-3.png" alt="" width="640" />
      <img src="assets/images/product-4.png" alt="" width="640" />
    </div>

    <!-- === product-popup-info === -->

    <div class="popup-content">
      <div class="product-info-wrapper">
        <div class="row">

          <!-- === left-column === -->

          <div class="col-sm-6">
            <div class="info-box">
              <strong>Maifacturer</strong>
              <span>Brand name</span>
            </div>
            <div class="info-box">
              <strong>Materials</strong>
              <span>Wood, Leather, Acrylic</span>
            </div>
            <div class="info-box">
              <strong>Availability</strong>
              <span><i class="fa fa-check-square-o"></i> in stock</span>
            </div>
          </div>

          <!-- === right-column === -->

          <div class="col-sm-6">
            <div class="info-box">
              <strong>Available Colors</strong>
              <div class="product-colors clearfix">
                <span class="color-btn color-btn-red"></span>
                <span class="color-btn color-btn-blue checked"></span>
                <span class="color-btn color-btn-green"></span>
                <span class="color-btn color-btn-gray"></span>
                <span class="color-btn color-btn-biege"></span>
              </div>
            </div>
            <div class="info-box">
              <strong>Choose size</strong>
              <div class="product-colors clearfix">
                <span class="color-btn color-btn-biege">S</span>
                <span class="color-btn color-btn-biege checked">M</span>
                <span class="color-btn color-btn-biege">XL</span>
                <span class="color-btn color-btn-biege">XXL</span>
              </div>
            </div>
          </div>

        </div><!--/row-->
      </div> <!--/product-info-wrapper-->
    </div><!--/popup-content-->
    <!-- === product-popup-footer === -->

    <div class="popup-table">
      <div class="popup-cell">
        <div class="price">
          <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
        </div>
      </div>
      <div class="popup-cell">
        <div class="popup-buttons">
          <a href="product.html"><span class="icon icon-eye"></span> <span class="hidden-xs">View more</span></a>
          <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Buy</span></a>
        </div>
      </div>
    </div>

  </div> <!--/product-->
</div> <!--popup-main-->


<!-- ================== Footer  ================== -->

<footer>
  <div class="container">

    <!--footer showroom-->
    <div class="footer-showroom">
      <div class="row">
        <div class="col-sm-8">
          <h2>Visit our showroom</h2>
          <p>200 12th Ave, New York, NY 10001, USA</p>
          <p>Mon - Sat: 10 am - 6 pm &nbsp; &nbsp; | &nbsp; &nbsp; Sun: 12pm - 2 pm</p>
        </div>
        <div class="col-sm-4 text-center">
          <a href="#" class="btn btn-clean"><span class="icon icon-map-marker"></span> Get directions</a>
          <div class="call-us h4"><span class="icon icon-phone-handset"></span> 333.278.06622</div>
        </div>
      </div>
    </div>

    <!--footer links-->
    <div class="footer-links">
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <h5>Browse by</h5>
          <ul>
            <li><a href="#">Brand</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Category</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Recources</h5>
          <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Sales</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Our company</h5>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <h5>Sign up for our newsletter</h5>
          <p><i>Add your email address to sign up for our monthly emails and to receive promotional offers.</i></p>
          <div class="form-group form-newsletter">
            <input class="form-control" type="text" name="email" value="" placeholder="Email address" />
            <input type="submit" class="btn btn-clean btn-sm" value="Subscribe" />
          </div>
        </div>
      </div>
    </div>

    <!--footer social-->

    <div class="footer-social">
      <div class="row">
        <div class="col-sm-6">
          <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank"><i class="fa fa-download"></i> Download Mobel</a> &nbsp; | <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a>
        </div>
        <div class="col-sm-6 links">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
    $(function () {

        $("#rateYo").rateYo({
            rating: <%= @rating.present? ? @rating.value : 0.0 %>,
            onSet: function (rating, rateYoInstance) {
                $.ajax({
                    url: '/ratings',
                    method: 'post',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: jQuery.param({ rating: {value:rating ,parent_id:<%=@project.id%>, parent_type:'<%=Rating.parent_type_project%>'} })
                });
            },
        });
        $("#avg_rate").rateYo({
            rating: <%= @avg_rating.present? ? @avg_rating : 0.0 %>,
            readOnly: true
        });

    });

</script>