<% if user_signed_in? %>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <% if can? :manage, User %>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-cursor"></i> Vendors</a>
            <ul class="nav-dropdown-items">
              <% if can? :read, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Vendors List'.html_safe, admin_users_path,class:"nav-link" %>
                </li>
              <% end %>
              <% if can? :create, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Create New Vendor'.html_safe, new_admin_user_path,class:"nav-link" %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-cursor"></i> Categories</a>
            <ul class="nav-dropdown-items">
              <% if can? :read, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Categories List'.html_safe, admin_categories_path,class:"nav-link" %>
                </li>
              <% end %>
              <% if can? :create, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Create New Category'.html_safe, new_admin_category_path,class:"nav-link" %>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-cursor"></i> Blogs</a>
            <ul class="nav-dropdown-items">
              <% if can? :read, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Blogs List'.html_safe, admin_blogs_path,class:"nav-link" %>
                </li>
              <% end %>
              <% if can? :create, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Create New Blog'.html_safe, new_admin_blog_path,class:"nav-link" %>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-cursor"></i> Advertisements</a>
            <ul class="nav-dropdown-items">
              <% if can? :read, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Advertisements List'.html_safe, admin_advertisements_path,class:"nav-link" %>
                </li>
              <% end %>
              <% if can? :create, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Create New Advertisement'.html_safe, new_admin_advertisement_path,class:"nav-link" %>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-cursor"></i> Colors</a>
            <ul class="nav-dropdown-items">
              <% if can? :read, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Colors List'.html_safe, admin_colors_path,class:"nav-link" %>
                </li>
              <% end %>
              <% if can? :create, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Create New Color'.html_safe, new_admin_color_path,class:"nav-link" %>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-cursor"></i> Product Categories</a>
            <ul class="nav-dropdown-items">
              <% if can? :read, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Product Categories List'.html_safe, admin_product_categories_path,class:"nav-link" %>
                </li>
              <% end %>
              <% if can? :create, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Create New Product Categgory'.html_safe, new_admin_product_category_path,class:"nav-link" %>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-cursor"></i> Product Types</a>
            <ul class="nav-dropdown-items">
              <% if can? :read, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Product Types List'.html_safe, admin_product_types_path,class:"nav-link" %>
                </li>
              <% end %>
              <% if can? :create, User %>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Create New Product Type'.html_safe, new_admin_product_type_path,class:"nav-link" %>
                </li>
              <% end %>
            </ul>
          </li>

        <% end %>
        <% if current_user.is_vendor? %>
          <li class="nav-item nav-dropdown">
            <a class="nav-link " href="<%= admin_profile_path current_user.profile %>">
              <i class="nav-icon icon-cursor"></i> Profile</a>
          </li>
          <% if current_user.display_products? %>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-cursor"></i> Products</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Products List'.html_safe, admin_products_path,class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Create New Product'.html_safe, new_admin_product_path,class:"nav-link" %>
                </li>
              </ul>
            </li>
          <%elsif current_user.display_projects? %>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-cursor"></i> Projects</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Projects List'.html_safe, admin_projects_path,class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to '<i class="nav-icon icon-cursor"></i> Create New Project'.html_safe, new_admin_project_path,class:"nav-link" %>
                </li>
              </ul>
            </li>
          <% end %>
        <% end %>

        <!--      <li class="nav-item nav-dropdown">-->
        <!--        <a class="nav-link nav-dropdown-toggle" href="#">-->
        <!--          <i class="nav-icon icon-cursor"></i> Categories</a>-->
        <!--        <ul class="nav-dropdown-items">-->
        <!--          <li class="nav-item">-->
        <%#= link_to '<i class="nav-icon icon-cursor"></i> Categories List'.html_safe, admin_categories_path,class:"nav-link" %>
        <!--          </li>-->
        <!--          <li class="nav-item">-->
        <%#= link_to '<i class="nav-icon icon-cursor"></i> Create New Category'.html_safe, new_admin_category_path,class:"nav-link" %>
        <!--          </li>-->
        <!--        </ul>-->
        <!--      </li>-->

      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>
<% end %>