<%= render 'shared/errors', obj: product %>
<%= form_for  product, product_form_attributes(product) do |f| %>

  <% @product.images.each do |image| %>
    <div id="image_<%= image.signed_id %>">
      <%= image_tag(url_for(image.variant(resize: '200x200'))) %>
      <%= link_to 'Remove', delete_image_attachment_admin_product_path(@product, image_id: image.signed_id),
                  method: :delete,

                  data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %><br>

<!--  <div class="form-group">-->
    <%#= f.label :Company %>
    <%#= f.select(:company_id, options_for_select(company_options, selected: selected_company(product)), { prompt: "Please Select" }, { class: 'form-control' }) %>
<!--  </div>-->

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", autocomplete: false, placeholder: "Title", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :Product_Category %>
    <%= f.select(:product_category_id, options_for_select(product_category_options, selected: selected_product_category(product)), { prompt: "Please Select" }, { class: 'form-control' }) %>
  </div>

<!--  <div class="form-group">-->
    <%#= f.label :Product_Type %>
    <%#= f.select(:product_type_id, options_for_select(product_type_options, selected: selected_product_type(product)), { prompt: "Please Select" }, { class: 'form-control' }) %>
<!--  </div>-->

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", autocomplete: false, placeholder: "Description", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :inventory %>
    <%= f.text_field :inventory, class: "form-control", autocomplete: false, placeholder: "Inventory", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control", autocomplete: false, placeholder: "Price", autofocus: true %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :Colors %>
    <select name="product[color_ids][]"  id="demo" multiple>
      <% Color.all.each_with_index  do |color,index| %>
        <option data-code="<%= color.code %>" value="<%= color.id %>" <%= selected_color(@product, color)  %>><%= color.title%></option>
      <% end %>
    </select>
    <%#= f.select(:color_id, options_for_select(color_options), { prompt: "Please Select" }, { class: 'form-control multiple-select', multiple: true }) %>
  </div>

  <div class="form-group">
    <%= f.label :length %> x
    <%= f.label :width %> x
    <%= f.label :height %>
    <br>
    <%= f.text_field :length, class: "", autocomplete: false, placeholder: "Length", autofocus: true %> X
    <%= f.text_field :width, class: "", autocomplete: false, placeholder: "Width", autofocus: true %> X
    <%= f.text_field :height, class: "", autocomplete: false, placeholder: "Height", autofocus: true %> <br/>

  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.check_box :status %> <br/>
  </div>

  <div class="form-group">
    <%= f.label :visibility %>
    <%= f.check_box :visibility %> <br/>
  </div>


  <%= f.file_field :images, multiple: true %><br><br>

  <%= f.submit class: "btn btn-block btn-primary custom-table-edit-btn"%>
<% end %>

<script>
    $(document).ready(function() {
        var x = new SlimSelect({
            select: '#demo'
        });
    });
</script>
