<div class="row">
  <div class="col-lg-8 offset-2">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Listing all Product</div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
<!--            <th>Size</th>-->
            <th>Price</th>
<!--            <th>Availibility</th>-->
          </tr>
          </thead>
          <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.title %></td>
              <td><%= truncate(product.description, length: 50) %></td>
<!--              <td><%#= product.size %></td>-->
              <td><%= product.price %></td>
<!--              <td><%#= product.stock ? 'In Stock' : 'Out of Stock'%></td>-->
              <td><%= link_to "Edit",  edit_admin_product_path(product), class: "btn btn-xs btn-primary" %></td>
              <td><%= link_to "Delete", admin_product_path(product), method: :delete , data: {confirm: "Are you sure?"} , class: "btn btn-xs btn-danger" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>