<div class="row">
  <div class="col-lg-9 mt-3 offset-2">
    <div class="card">
      <div class="card-header">
        <strong>Product</strong>
      </div>
      <div class="card-body">
        <h2 align="center">Product: <%= @product.title %></h2>
        <div class="well col-xs-8 col-xs-offset-2">
          <div class="Center">
            <% @product.images.each do |image| %>
              <%= image_tag(url_for(image.variant(resize: '200x200'))) %>
            <% end %>
          </div>
          <br>
          <h4>Description: </h4><br>
          <p><%= @product.description%></p>
          <br>
          <h4>Size: </h4><br>
          <p><%= @product.size%></p>
          <br>
          <h4>Price: </h4><br>
          <p><%= @product.price%></p>
          <br>
          <h4>Stock: </h4><br>
          <p><%= @product.stock ? 'In stock' : 'Out of stock'%></p>
          <div class="article-actions">
            <%= link_to "Edit",  edit_admin_product_path(@product), class: "btn btn-xs btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
