
<!--Use class "navbar-fixed" or "navbar-default" -->
<!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

<!-- ======================== Navigation ======================== -->


<!-- ======================== Main header ======================== -->

<section class="main-header" style="background-image:url(assets/images/gallery-4.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title">All Products</h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a class="active"><%= @product_category.title %></a></li>
      </ol>
    </div>
  </header>
</section>


<!-- ======================== Products ======================== -->

<section class="products">

  <div class="container">

    <header class="hidden">
      <h3 class="h3 title">Product category with topbar</h3>
    </header>

    <div class="row">

      <!-- === product-items === -->

      <div class="col-md-12 col-xs-12">
        <div class="row">
          <!-- === product-item === -->
          <%  @products.each  do |product|  %>
            <% if product.visibility == true %>
              <div class="col-md-3 col-xs-3">
                <article>
                  <div class="figure-grid">
                    <div class="image">
                      <% if product.images.attached? %>
                        <%= link_to product do%>
                          <%= image_tag(url_for(product.images.first)) %><br>
                        <% end %>
                      <% else %>
                        <%= link_to product do%>
                          <img src="/assets/furnishia/product-1.png" alt="" width="360" />
                        <% end %>
                      <% end %>
                    </div>
                    <div class="text">
                      <%= link_to product do%>
                        <h2 class="title h4"><%= product.title %></h2>
                        <span>$ <%= product.price %></span>
                      <% end %>
                    </div>
                  </div>
                </article>
              </div>
            <% end %>
          <% end %>
        </div><!--/row-->
        <!--Pagination-->
        <div class="pagination-wrapper">
          <%= will_paginate @products %>
        </div>
      </div> <!--/product items-->


    </div><!--/row-->
  </div><!--/container-->
</section>
<!-- ================== Footer  ================== -->

<footer>
  <div class="container">

    <!--footer showroom-->
    <div class="footer-showroom">
      <div class="row">
        <div class="col-sm-8">
          <h2>Visit our showroom</h2>
          <p>200 12th Ave, New York, NY 10001, USA</p>
          <p>Mon - Sat: 10 am - 6 pm &nbsp; &nbsp; | &nbsp; &nbsp; Sun: 12pm - 2 pm</p>
        </div>
        <div class="col-sm-4 text-center">
          <a href="#" class="btn btn-clean"><span class="icon icon-map-marker"></span> Get directions</a>
          <div class="call-us h4"><span class="icon icon-phone-handset"></span> 333.278.06622</div>
        </div>
      </div>
    </div>

    <!--footer links-->
    <div class="footer-links">
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <h5>Browse by</h5>
          <ul>
            <li><a href="#">Brand</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Category</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Recources</h5>
          <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Sales</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-2">
          <h5>Our company</h5>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <h5>Sign up for our newsletter</h5>
          <p><i>Add your email address to sign up for our monthly emails and to receive promotional offers.</i></p>
          <div class="form-group form-newsletter">
            <input class="form-control" type="text" name="email" value="" placeholder="Email address" />
            <input type="submit" class="btn btn-clean btn-sm" value="Subscribe" />
          </div>
        </div>
      </div>
    </div>

    <!--footer social-->

    <div class="footer-social">
      <div class="row">
        <div class="col-sm-6">
          <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank"><i class="fa fa-download"></i> Download Mobel</a> &nbsp; | <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a>
        </div>
        <div class="col-sm-6 links">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

