
<!-- ======================== Main header ======================== -->

<section class="main-header" style="background-image:url(assets/images/gallery-4.jpg)">
  <header>
    <div class="container">
      <h1 class="h2 title">All Products</h1>
      <ol class="breadcrumb breadcrumb-inverted">
        <li><a href="<%= root_path %>"><span class="icon icon-home"></span></a></li>
        <li><a class="active"><%= @product_category.title %></a></li>
      </ol>
    </div>
  </header>
</section>


<!-- ======================== Products ======================== -->

<section class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="row">
          <!-- === product-item === -->
          <%  @products.each  do |product|  %>
            <% if product.visibility == true %>
              <div class="col-md-3 col-xs-3">
                <article>
                  <div class="figure-grid custom-figure-grid">
                    <div class="image">
                      <% if product.images.attached? %>
                        <%= link_to product do%>
                          <%= image_tag(url_for(product.images.first)) %><br>
                        <% end %>
                      <% else %>
                        <%= link_to product do%>
                          <img src="/assets/furnishia/product-1.png" alt="" width="360" />
                        <% end %>
                      <% end %>
                    </div>
                    <div class="text">
                      <%= link_to product do%>
                        <h2 class="title h4"><%= product.title %></h2>
                        <span> <%= product.product_category.title %></span>
                        <span> <%= product.user.category.title %></span>
                    <% end %>
                    </div>
                  </div>
                </article>
                <br>
              </div>
            <% end %>
          <% end %>
        </div><!--/row-->
        <!--Pagination-->
        <div class="pagination-wrapper">
          <%= will_paginate @products %>
        </div>
      </div> <!--/product items-->
    </div><!--/row-->
  </div><!--/container-->
</section>


