<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Product category:</strong>
  <%= @product.product_category %>
</p>

<p>
  <strong>Product brand:</strong>
  <%= @product.product_brand %>
</p>

<p>
  <strong>Product model:</strong>
  <%= @product.product_model %>
</p>

<p>
  <strong>Product warranty:</strong>
  <%= @product.product_warranty %>
</p>

<p>
  <strong>Product color:</strong>
  <%= @product.product_color %>
</p>

<p>
  <strong>Product isview:</strong>
  <%= @product.product_isview %>
</p>

<p>
  <strong>Product sale status:</strong>
  <%= @product.product_sale_status %>
</p>

<p>
  <strong>Product purchase price:</strong>
  <%= @product.product_purchase_price %>
</p>

<p>
  <strong>Product sale price:</strong>
  <%= @product.product_sale_price %>
</p>

<p>
  <strong>Product cash on delivery:</strong>
  <%= @product.product_cash_on_delivery %>
</p>

<p>
  <strong>Product home delivery:</strong>
  <%= @product.product_home_delivery %>
</p>

<p>
  <strong>Product return days:</strong>
  <%= @product.product_return_days %>
</p>

<p>
  <strong>Product discount:</strong>
  <%= @product.product_discount %>
</p>

<p>
  <strong>Product material:</strong>
  <%= @product.product_material %>
</p>

<p>
  <strong>Product quantity:</strong>
  <%= @product.product_quantity %>
</p>

<p>
  <strong>Store:</strong>
  <%= @product.store %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
